body {
	background-color: lightgray
}

    svg,
    #mynetwork {
      height: 100%;
      width: 100%;
      position: absolute;
      overflow: hidden;
      margin: 0px;
    }


.network-details {
  width:20%;
  float:left;
  min-height:800;
}

.network-details-off {
  width:0%;
  float:left;
  min-height:800;
}

.network-canvas {
  width:80%;
  float:right
}

.network-canvas-off {
  width:100%;
  float:right;
  min-height:800px;
}

.network-details-float {
  position: absolute;
  top: 150;
  width: 300px;
  background: #CCC;
  opacity: 0.6;  
}

.network-details-float-text {
  position: absolute;
  top: 150;
  width: 300px;
}

#node-details {
  position: absolute;
  top: 150;
  width: 300px;
}
#block {
  background: #ececc7;
  filter: alpha(opacity=60);
  /* IE */
  -moz-opacity: 0.6;
  /* Mozilla */
  opacity: 0.6;
  /* CSS3 */
  position: absolute;
  top: 0;
  left: 0;
  height: 1000px;
  width: 100%;
}
#text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.medium-logo {
  max-width: 200px;
}

.medium-head {
  max-width: 100px;
}

.help-block {
  color: red;
}

.small-logo-newline {
  width: 70px;
  margin: 3px;
}

.small-logo {
  width: 70px;
  float: left;
  margin: 3px;
}

.margin-bottom {
  margin-bottom: 10px;  
}

.margin-top {
  margin-bottom: 10px;  
}

.nav-item-li {
  height: 30px;  
  margin-bottom: 20px;
}

.nav-item-li-small {
  height: 30px;  
  margin-bottom: 10px;
}

.nav-item-icon {
  color:#9d9d9d;
  height:20px;
  float:left;
  margin-left: 18px;
  margin-right: 5px;
  margin-top: 4px;
}

.nav-item-icon:hover {
  color:white;
  cursor: pointer;
}

.nav-click-link {
  color:#9d9d9d;
}

.nav-click-link:hover {
  color:white;
  cursor: pointer;
  text-decoration: none;
}

.row-space-bottom {
  margin-bottom: 10px;
}

.active-sort {
  font-weight: 700;
}

.graph-info-vector {
  border-radius: 25px;
  text-align: center;
  margin:5px;
  width:100px;
  height:75px;  
  padding: 5px;
  float:left;
}

.graph-info-edge {
  text-align: center;
  margin:5px;
  width:100px;
  height:75px;  
  padding: 5px;
  float:left;
}

.grid-header {
  display:inherit;
}

.grid-row-header {
  font-weight: bold;
  display:none;
}

.obj-details-logo {
  display:inherit;
}

.obj-detail-row {
  margin-bottom: 10px;
}

@media (max-width:991px) {
  .grid-header {
    display:none;
  }

  .grid-row-header {
    display:inherit;
  }

  .obj-details-logo {
    display:none;
  }

}​

// only for people


grid-cell .ui-grid-vertical-bar {
    height: 130px;
}

.grid-norm {
  width: 100%;
  height: 0px !important;
}

.grid .ui-grid-render-container-body .ui-grid-header-cell,
.grid .ui-grid-render-container-left .ui-grid-header-cell,
.grid .ui-grid-row,
.grid .ui-grid-cell,
.grid .ui-grid-cell .ui-grid-vertical-bar {
  height: 50px !important;
  font-size: 12px;
  line-height: 20px;
}
.grid .ui-grid-render-container-body .ui-grid-header-cell,
.grid .ui-grid-render-container-left .ui-grid-header-cell,
.grid .ui-grid-header-cell {
  height: 55px !important;
}
.grid .ui-grid-filter-container {
  padding: 1px 3px;
}



.grid {
  width: 100%;
  height: 0px !important;
}

.grid .ui-grid-cell-contents {
  padding: 1px 1px;
}

.grid .ui-grid-render-container-body .ui-grid-header-cell,
.grid .ui-grid-render-container-left .ui-grid-header-cell,
.grid .ui-grid-row,
.grid .ui-grid-cell,
.grid .ui-grid-cell .ui-grid-vertical-bar {
  height: 122px !important;
  font-size: 12px;
  line-height: 20px;
}
.grid .ui-grid-render-container-body .ui-grid-header-cell,
.grid .ui-grid-render-container-left .ui-grid-header-cell,
.grid .ui-grid-header-cell {
  height: 55px !important;
}
.grid .ui-grid-filter-container {
  padding: 1px 3px;
}



.form-group {
    margin-bottom: 15px;
}

.form-control-wide {
    height: 50px;
    padding: 16px 5px 0;
    color: #777;
    -moz-box-shadow: inset 0 2px 2px #9DA7AE;
    -webkit-box-shadow: inset 0 2px 2px #9DA7AE;
    box-shadow: inset 0 2px 2px #9DA7AE;
    font-family: 'Lato',sans-serif;
}

.out-input {
  font-weight: 600;
  z-index: 5;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: @dark-grey;
}

.in-input {
  padding-left: 7px;
  padding-top: 5px;
  position: absolute;
  font-weight: 600;
  z-index: 5;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: @dark-grey;
}

.disabled-filter {
  color: back;
}

.nav-disabled {
  color: grey;
}

.hover-link {
}

.hover-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.click-link {
  text-decoration: underline;
}

.click-link:hover {
  cursor: pointer;
}


.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}

.head-bar {
  float:left;
  width:20px;
  height:60px;
  background-color: #9d9d9d;
  margin-top:20px;
  margin-bottom:20px
}

.data-heading {
  color: #757575;
}

.section-header {
  color: #333;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
  left:0px;
}


@media (max-width: 990px) {

  .network-details {
  }
}

@media (max-width: 600px) {

  .network-details {
  }

}


@media (min-width: 1300px) {

.network-details {
}

  .container {
      width: 1250px;
  }  
}

@media (min-width: 1400px) {
  .container {
      width: 1350px;
  }  
}

@media (min-width: 1500px) {
  .container {
      width: 1450px;
  }  
}

@media (min-width: 1700px) {
  .container {
      width: 1660px;
  }  
}


@media (min-width: 1800px) {
  .container {
      width: 1700px;
  }  
}

@media (min-width: 1900px) {
  .container {
      width: 1800px;
  }  
}
