body {
	background-color: lightgray
}

#mynetwork {
  width: 800px;
  height: 600px;
  border: 1px solid lightgray;
}

.medium-logo {
  max-width: 200px;
}

.small-logo {
  width: 70px;
  float: left;
  margin: 3px;
}

.graph-info {
  border-radius: 25px;
  text-align: center;
  margin:5px;
  width:100px;
  height:50px;  
  padding: 5px;
  float:left;
}

// only for people


grid-cell .ui-grid-vertical-bar {
    height: 130px;
}

.grid-norm {
  width: 100%;
  height: 0px !important;
}

.grid .ui-grid-render-container-body .ui-grid-header-cell,
.grid .ui-grid-render-container-left .ui-grid-header-cell,
.grid .ui-grid-row,
.grid .ui-grid-cell,
.grid .ui-grid-cell .ui-grid-vertical-bar {
  height: 50px !important;
  font-size: 12px;
  line-height: 20px;
}
.grid .ui-grid-render-container-body .ui-grid-header-cell,
.grid .ui-grid-render-container-left .ui-grid-header-cell,
.grid .ui-grid-header-cell {
  height: 55px !important;
}
.grid .ui-grid-filter-container {
  padding: 1px 3px;
}



.grid {
  width: 100%;
  height: 0px !important;
}

.grid .ui-grid-cell-contents {
  padding: 1px 1px;
}

.grid .ui-grid-render-container-body .ui-grid-header-cell,
.grid .ui-grid-render-container-left .ui-grid-header-cell,
.grid .ui-grid-row,
.grid .ui-grid-cell,
.grid .ui-grid-cell .ui-grid-vertical-bar {
  height: 122px !important;
  font-size: 12px;
  line-height: 20px;
}
.grid .ui-grid-render-container-body .ui-grid-header-cell,
.grid .ui-grid-render-container-left .ui-grid-header-cell,
.grid .ui-grid-header-cell {
  height: 55px !important;
}
.grid .ui-grid-filter-container {
  padding: 1px 3px;
}



.form-group {
    margin-bottom: 15px;
}

.form-control-wide {
    height: 50px;
    padding: 16px 5px 0;
    color: #777;
    -moz-box-shadow: inset 0 2px 2px #9DA7AE;
    -webkit-box-shadow: inset 0 2px 2px #9DA7AE;
    box-shadow: inset 0 2px 2px #9DA7AE;
    font-family: 'Lato',sans-serif;
}

.in-input {
  padding-left: 7px;
  padding-top: 5px;
  position: absolute;
  font-weight: 600;
  z-index: 5;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: @dark-grey;
}

.click-link {
  cursor: pointer;
}

.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}

.head-bar {
  float:left;
  width:20px;
  height:60px;
  background-color: #9d9d9d;
  margin-top:20px;
  margin-bottom:20px
}

.data-heading {
  color: #757575;
}

.section-header {
  color: #333;
  font-size: 15px;
  font-weight: 600;
}