<nav class="navbar navbar-default" ng-controller="adminNavController">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Spin-Off Intel</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-class="{active : isActive('university')}"><a ng-click="navigate('university')" class="click-link">Universities</a></li>
        <li ng-class="{active : isActive('spinoffs')}"><a ng-click="navigate('spinoffs')" class="click-link">Spin Offs</a></li>
        <li ng-class="{active : isActive('companies')}"><a ng-click="navigate('companies')" class="click-link">Companies</a></li>
        <li ng-class="{active : isActive('people')}"><a ng-click="navigate('people')" class="click-link">People</a></li>
        <li ng-class="{active : isActive('patent')}"><a ng-click="navigate('patent')" class="click-link">Patents</a></li>        
        <li ng-class="{active : isActive('investment')}"><a ng-click="navigate('investment')" class="click-link">Investments</a></li>                
        <li ng-class="{active : isActive('acquisition')}"><a ng-click="navigate('acquisition')" class="click-link">Acquisitions</a></li>
        <li ng-class="{active : isActive('media')}"><a ng-click="navigate('media')" class="click-link">Media</a></li>
        <li ng-class="{active : isActive('upload')}"><a ng-click="navigate('upload')" class="click-link">Import/Export</a></li>
        <li ng-class="{active : isActive('picklists')}"><a ng-click="navigate('picklists')" class="click-link">Pick Lists</a></li>
        <li ng-class="{active : isActive('user')}"><a ng-click="userview()" class="click-link">User View</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>