<div class="row">
	<div class="col-md-12">
		<br>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="alert alert-info" role="alert"> 
			<div><strong ng-click="toggleMode()" class="hover-link">{{objData.name}}</strong></div>
		</div>
	</div>
</div>

<div ng-if="mode.view!='data'" class="row">
	<div ng-repeat="recordInfo in [{}]" ng-include="'partials/network.html'"></div>
</div>

<div ng-if="mode.view=='data'" class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-2">
				<button type="button" class="btn btn-success" class="click-link" style="margin:10px">Add to List</button>
				<button ng-click="toggleMode()" type="button" class="btn btn-success" class="click-link" style="margin:10px">View Network</button>
			</div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
						  <div class="panel-body">
						    <div class="row">
									<div class="col-md-6 section-header">
										Overview
									</div>
									<div class="col-md-6" style="text-align: right;">
										<a ng-click="update()" class="click-link">UPDATE</a>
									</div>
								</div>
						    <div class="row"><div class="col-md-12">&nbsp;</div></div>
						    <div class="row">
									<div class="col-md-2 data-heading">
										<span ng-if="objData.type == 'Acquisition'">Acquisition:</span><span ng-if="objData.type != 'Acquisition'">Merger:</span>
									</div>
									<div class="col-md-10">
										 <a ng-click="util.navigate('organizationDetail',{id:recDetails.EAcquirer[0].in.inId})" class="click-link">{{recDetails.EAcquirer[0].in.name}}</a> <span ng-if="objData.type == 'Acquisition'">acquired</span><span ng-if="objData.type != 'Acquisition'">merged with</span> <a ng-click="util.navigate('organizationDetail',{id:recDetails.EAcquired[0].in.inId})" class="click-link">{{recDetails.EAcquired[0].in.name}}</a>
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-12">
										{{objData.description}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Amount:
									</div>
									<div class="col-md-10">
										€ {{util.formatMoney(objData.amount)}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Date Closed:
									</div>
									<div class="col-md-10">
										{{util.formatDate(objData.closedate,"MMM, YYYY")}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										More Details:
									</div>
									<div class="col-md-10">
										<a ng-if="objData.source1.indexOf('http') == -1" href="http://{{objData.source1}}" target="_new">{{objData.source1}}</a>
										<a ng-if="objData.source1.indexOf('http') > -1" href="{{objData.source1}}" target="_new">{{objData.source1}}</a>
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						  </div>
						</div>
					</div>
				</div>
				<div class="row"><div class="col-md-12">&nbsp;</div></div>
			</div>
		</div>
	</div>
</div>
