<div class="row">
	<div class="col-md-12">
		<br>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="alert alert-info" role="alert"> <strong>{{objData.name}}</strong> </div>
	</div>
</div>

<div ng-if="mode!='data'" class="row">
	<div class="col-md-12">
		<div class="row">
			<div ng-repeat="obj in schemas" class="graph-info" ng-click="toggelSchema(obj)" style="background-color:{{getColor(obj)}}" ng-if="obj.model.color">
				<span style="color:{{obj.model.fontColor}}">{{obj.model.displayName}}</span>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="row">
			<button ng-click="toggleMode()" type="button" class="btn btn-success" class="click-link">View Data</button>
			<div style="float:right;margin:10px"><a ng-click="zoomIn()" class="click-link"><i class="fa fa-search-plus" aria-hidden="true"></i> Zoom In</a></div>
			<div style="float:right;margin:10px"><a ng-click="zoomOut()" class="click-link"><i class="fa fa-search-minus" aria-hidden="true"></i> Zoom Out</a></div>
		</div>
	</div>
	<div class="col-md-8">
		<div class="row">
			<div id="mynetwork"></div>
		</div>
	</div>
	<div class="col-md-4">
		<div>
			<h3>{{fndDetail.name}}</h3>
			<div ng-if="fndDetail.logo" style="float:left;margin-left:10px;margin-right:10px">
				<div ng-if="fndDetail.objectType == 'VPerson'">
	      	<div ng-if="fndDetail.logo"><img ng-src="/www/logos/{{fndDetail.logo}}" class="medium-head"></div>
	      	<div ng-if="!fndDetail.logo"><img ng-src="img/emptyhead.jpg" class="medium-head"></div>
	      </div>
				<div ng-if="fndDetail.objectType == 'VCompany'">
	      	<div ng-if="fndDetail.logo"><img ng-src="/www/logos/{{fndDetail.logo}}" class="medium-head"></div>
	      	<div ng-if="!fndDetail.logo"><img ng-src="img/logos/emptyLogo.png" class="medium-head"></div>
	      </div>
	    </div>
      <div ng-repeat="detail in fndDetailArray" style="margin-bottom:10px;">
      	<div ng-if="detail.name != 'logo' && findSchemaName(fndDetail.objectType, detail)">
      		<b>{{findSchemaName(fndDetail.objectType, detail)}}</b> <span>{{detail.value}}</span>
      	</div>
      </div>
      <div>
      	<button ng-click="viewDetails(fndDetail.objectType, detail)" type="button" class="btn btn-success" class="click-link">View Details</button>
      </div>
    </div>
	</div>
</div>

<div ng-if="mode=='data'" class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-2">
				<img ng-if="objData.logo" class="media-object" src="/www/logos/{{objData.logo}}" style="width:100px"><br>
				<img ng-if="!objData.logo" class="media-object" src="/soiapp/img/logos/emptyLogo.png" style="width:100px"><br>
				<button type="button" class="btn btn-success" class="click-link" style="margin:10px">Add to List</button>
				<button ng-click="toggleMode()" type="button" class="btn btn-success" class="click-link" style="margin:10px">View Network</button>
			</div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
						  <div class="panel-body">
						    <div class="row">
									<div class="col-md-6 section-header">
										Overview
									</div>
									<div class="col-md-6" style="text-align: right;">
										<a ng-click="update()" class="click-link">UPDATE</a>
									</div>
								</div>
						    <div class="row"><div class="col-md-12">&nbsp;</div></div>
						    <div class="row">
									<div class="col-md-2 data-heading">
										Headquarter:
									</div>
									<div class="col-md-10">
										{{objData.city}} <span ng-if="objData.city">,<,span> {{objData.country}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>
						    <div class="row">
									<div class="col-md-2 data-heading">
										Founders:
									</div>
									<div class="col-md-10" ng-if="recordDetails.EFounded.relationships.length > 5">
										<span ng-repeat="found in recordDetails.EFounded.relationships | limitTo:5"><a ng-click="util.navigate('peopleDetail',{id:found['@rid']})" class="click-link">{{found.name}}</a><span ng-if="$index != recordDetails.EFounded.relationships.length-1">,</span> </span>
										<div><a ng-click="showMore['EFounded']=true" class="click-link">more...</a></div>
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										University:
									</div>
									<div class="col-md-10">
										<div ng-repeat="univ in recDetails.VUniversity" style="float:left;margin-right:10px;margin-bottom:5px">
											<a ng-click="util.navigate('universitiesDetail',{id:univ[0].id})" class="click-link">{{univ.name}}</a><br>
											{{util.formatMultiSelect(univ.programs)}}
										</div>
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Categories:
									</div>
									<div class="col-md-10">
										{{util.formatMultiSelect(objData.productcategory)}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Website:
									</div>
									<div class="col-md-10">
										<a ng-if="objData.website.indexOf('http') == -1" href="http://{{objData.website}}" target="_new">{{objData.website}}</a>
										<a ng-if="objData.website.indexOf('http') > -1" href="{{objData.website}}" target="_new">{{objData.website}}</a>
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>
						  </div>
						</div>
					</div>
				</div>
				<div class="row"><div class="col-md-12">&nbsp;</div></div>

				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
						  <div class="panel-body">
						    <div class="row">
									<div class="col-md-6 section-header">
										Company Details
									</div>
									<div class="col-md-6" style="text-align: right;">
										<a ng-click="update()" class="click-link">UPDATE</a>
									</div>
								</div>
						    <div class="row"><div class="col-md-12">&nbsp;</div></div>
						    <div class="row">
									<div class="col-md-2 data-heading">
										Founded:
									</div>
									<div class="col-md-10">
										{{objData.yearfounded}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>
						    <div class="row">
									<div class="col-md-2 data-heading">
										Employees:
									</div>
									<div class="col-md-10">
										{{objData.size}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Status:
									</div>
									<div class="col-md-10">
										{{objData.status}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Business Activity Details:
									</div>
									<div class="col-md-10">
										{{objData.businessactivitydetails}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-12">
										{{objData.description}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row"><div class="col-md-12">&nbsp;</div></div>
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
						  <div class="panel-body">
						    <div class="row">
									<div class="col-md-6 section-header">
										Funding Rounds ({{recDetails.EFunded.length}})
									</div>
									<div class="col-md-6" style="text-align: right;">
										<a ng-click="update()">UPDATE</a>
									</div>
								</div>
						    <div class="row"><div class="col-md-12">&nbsp;</div></div>
						    <div class="row">
									<div class="col-md-12">
										<table class="table table-hover">
											<tr ng-repeat="round in recDetails.EFunded">
												<td>{{util.formatDate(round.out.closedate,"MMM, YYYY")}}</td>
												<td>€ {{util.formatMoney(round.out.amount)}}</td>
												<td><a ng-click="util.navigate('fundingDetail',{id:round.out.outId})" class="click-link">{{round.out.type}}</a></td>
									  </table>
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row"><div class="col-md-12">&nbsp;</div></div>

				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
						  <div class="panel-body">
						    <div class="row">
									<div class="col-md-6 section-header">
										Current Team
									</div>
									<div class="col-md-6" style="text-align: right;">
										<a ng-click="update()" class="click-link">UPDATE</a>
									</div>
								</div>
						    <div class="row" ng-repeat="peep in recDetails.EWorksfor">
						    	<div ng-if="$index % 2 == 0">
										<div class="col-md-6" style="margin-bottom:10px;margin-top:10px;height: 50px;">
											<div style="float:left"><img src="img/emptyhead.jpg" style="width:50px;padding:5px;"></div>
											<div>
												<span><a ng-click="util.navigate('peopleDetail',{id:recDetails.EWorksfor[$index].out.outId})" class="click-link">{{recDetails.EWorksfor[$index].out.name}}</a></span><br><span>{{recDetails.EWorksfor[$index].role}}</span>
											</div>
										</div>
										<div class="col-md-6" style="margin-bottom:10px;margin-top:10px;height: 50px;">
											<div style="float:left"><img src="img/emptyhead.jpg" style="width:50px;padding:5px;"></div>
											<div>
												<span><a ng-click="util.navigate('peopleDetail',{id:recDetails.EWorksfor[$index+1].out.outId})" class="click-link">{{recDetails.EWorksfor[$index+1].out.name}}</a></span><br><span>{{recDetails.EWorksfor[$index].role}}</span>
											</div>
										</div>
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row"><div class="col-md-12">&nbsp;</div></div>

				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
						  <div class="panel-body">
						    <div class="row">
									<div class="col-md-6 section-header">
										Board
									</div>
									<div class="col-md-6" style="text-align: right;">
										<a ng-click="update()" class="click-link">UPDATE</a>
									</div>
								</div>
						    <div class="row" ng-repeat="board in recDetails.EBoardMember">
						    	<div ng-if="$index % 2 == 0">
										<div class="col-md-6" style="margin-bottom:10px;margin-top:10px;height: 50px;">
											<div style="float:left"><img src="img/emptyhead.jpg" style="width:50px;padding:5px;"></div>
											<div style="margin-top: 10px;">
												<span><a ng-click="util.navigate('peopleDetail',{id:recDetails.EBoardMember[$index].in.inId})" class="click-link">{{recDetails.EBoardMember[$index].in.name}}</a></span>
											</div>
										</div>
										<div class="col-md-6" style="margin-bottom:10px;margin-top:10px;height: 50px;">
											<div ng-if="recDetails.EBoardMember[$index+1]" style="float:left"><img src="img/emptyhead.jpg" style="width:50px;padding:5px;"></div>
											<div ng-if="recDetails.EBoardMember[$index+1]" style="margin-top: 10px;">
												<span><a ng-click="util.navigate('peopleDetail',{id:recDetails.EBoardMember[$index+1].in.inId})" class="click-link">{{recDetails.EBoardMember[$index+1].in.name}}</a></span>
											</div>
										</div>
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row"><div class="col-md-12">&nbsp;</div></div>

				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
						  <div class="panel-body">
						    <div class="row">
									<div class="col-md-6 section-header">
										Customers
									</div>
									<div class="col-md-6" style="text-align: right;">
										<a ng-click="update()" class="click-link">UPDATE</a>
									</div>
								</div>
						    <div class="row" ng-repeat="board in recDetails.ECustomer">
						    	<div ng-if="$index % 2 == 0">
										<div class="col-md-6" style="margin-bottom:10px;margin-top:10px;height: 50px;">
											<div style="float:left"><i class="fa fa-building fa-2x" aria-hidden="true" style="padding:5px;"></i></div>
											<div style="margin-top: 10px;">
												<div><a ng-click="util.navigate('companyDetail',{id:recDetails.ECustomer[$index].in.inId})" class="click-link">{{recDetails.ECustomer[$index].in.name}}</a></div><div>{{util.formatDate(recDetails.ECustomer[$index].relationdate, "MMM, YYYY")}}</div>
											</div>
										</div>
										<div class="col-md-6" style="margin-bottom:10px;margin-top:10px;height: 50px;">
											<div ng-if="recDetails.ECustomer[$index+1]" style="float:left"><i class="fa fa-building fa-2x" aria-hidden="true" style="padding:5px;"></i></div>
											<div ng-if="recDetails.ECustomer[$index+1]" style="margin-top: 10px;">
												<div><a ng-click="util.navigate('companyDetail',{id:recDetails.ECustomer[$index+1].in.inId})" class="click-link">{{recDetails.ECustomer[$index+1].in.name}}</a></div><div>{{util.formatDate(recDetails.ECustomer[$index+1].relationdate, "MMM, YYYY")}}</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row"><div class="col-md-12">&nbsp;</div></div>

				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
						  <div class="panel-body">
						    <div class="row">
									<div class="col-md-6 section-header">
										Partner
									</div>
									<div class="col-md-6" style="text-align: right;">
										<a ng-click="update()" class="click-link">UPDATE</a>
									</div>
								</div>
						    <div class="row" ng-repeat="board in recDetails.EPartner">
						    	<div ng-if="$index % 2 == 0">
										<div class="col-md-6" style="margin-bottom:10px;margin-top:10px;height: 50px;">
											<div style="float:left"><i class="fa fa-handshake-o fa-2x" aria-hidden="true" style="padding:5px;"></i></div>
											<div style="margin-top: 10px;">
												<div><a ng-click="util.navigate('companyDetail',{id:recDetails.EPartner[$index].in.inId})" class="click-link">{{recDetails.EPartner[$index].in.name}}</a></div><div>{{util.formatDate(recDetails.EPartner[$index].relationdate, "MMM, YYYY")}}</div>
											</div>
										</div>
										<div class="col-md-6" style="margin-bottom:10px;margin-top:10px;height: 50px;">
											<div ng-if="recDetails.EPartner[$index+1]" style="float:left"><i class="fa fa-handshake-o fa-2x" aria-hidden="true" style="padding:5px;"></i></div>
											<div ng-if="recDetails.EPartner[$index+1]" style="margin-top: 10px;">
												<div><a ng-click="util.navigate('companyDetail',{id:recDetails.EPartner[$index+1].in.inId})" class="click-link">{{recDetails.EPartner[$index+1].in.name}}</a></div><div>{{util.formatDate(recDetails.EPartner[$index+1].relationdate, "MMM, YYYY")}}</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row"><div class="col-md-12">&nbsp;</div></div>

				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
						  <div class="panel-body">
						    <div class="row">
									<div class="col-md-6 section-header">
										Supplier
									</div>
									<div class="col-md-6" style="text-align: right;">
										<a ng-click="update()" class="click-link">UPDATE</a>
									</div>
								</div>
						    <div class="row" ng-repeat="board in recDetails.ESupplier">
						    	<div ng-if="$index % 2 == 0">
										<div class="col-md-6" style="margin-bottom:10px;margin-top:10px;height: 50px;">
											<div style="float:left"><i class="fa fa-truck fa-2x" aria-hidden="true" style="padding:5px;"></i></div>
											<div style="margin-top: 10px;">
												<div><a ng-click="util.navigate('companyDetail',{id:recDetails.ESupplier[$index].in.inId})" class="click-link">{{recDetails.ESupplier[$index].in.name}}</a></div><div>{{util.formatDate(recDetails.ESupplier[$index].relationdate, "MMM, YYYY")}}</div>
											</div>
										</div>
										<div class="col-md-6" style="margin-bottom:10px;margin-top:10px;height: 50px;">
											<div ng-if="recDetails.ESupplier[$index+1]" style="float:left"><i class="fa fa-truck fa-2x" aria-hidden="true" style="padding:5px;"></i></div>
											<div ng-if="recDetails.ESupplier[$index+1]" style="margin-top: 10px;">
												<div><a ng-click="util.navigate('companyDetail',{id:recDetails.ESupplier[$index+1].in.inId})" class="click-link">{{recDetails.ESupplier[$index+1].in.name}}</a></div><div>{{util.formatDate(recDetails.ESupplier[$index+1].relationdate, "MMM, YYYY")}}</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row"><div class="col-md-12">&nbsp;</div></div>

				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
						  <div class="panel-body">
						    <div class="row">
									<div class="col-md-6 section-header">
										Patents
									</div>
									<div class="col-md-6" style="text-align: right;">
										<a ng-click="update()" class="click-link">UPDATE</a>
									</div>
								</div>
						    <div class="row" ng-repeat="pat in recDetails.EApplicant" style="margin-top:10px">
						    	<div class="col-md-12">
							    	<div class="row">
							    		<div class="col-md-4">
							    			<a ng-click="util.navigate('patentDetail',{id:pat.out.outId})" class="click-link">{{pat.out.number}}</a><div ng-if="pat.out.ipc2">{{pat.out.ipc2}}</div><div ng-if="pat.out.dategranted">Granted On: {{util.formatDate(pat.out.dategranted, "MMM, YYYY")}}</div>
							    		</div>
							    		<div class="col-md-8">
							    			{{pat.out.name}}
							    		</div>
							    	</div>
							    </div>
						    </div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row"><div class="col-md-12">&nbsp;</div></div>

			</div>
		</div>
	</div>
</div>
