<div class="row">
  <div class="col-md-12">
    <br>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert"> 
      <div><strong ng-click="toggleMode()" class="hover-link">{{objData.name}}</strong></div>
    </div>
  </div>
</div>

<div ng-if="mode.view!='data'">
  <div ng-repeat="recordInfo in [{}]" ng-include="'partials/network.html'"></div>
</div>

<div ng-if="mode.view=='data' && loaded==true" class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-2">
        <button ng-if="!path || !path.src" type="button" ng-click="setPathSrcMode(objData)" class="btn btn-success" class="click-link" style="margin:5px">Set Shortest Path Source</button>
        <button ng-if="path && path.src" type="button" ng-click="setPathDestMode(objData)" class="btn btn-success" class="click-link" style="margin:5px">Set Shortest Path Destination</button>
        <button ng-click="toggleMode()" type="button" class="btn btn-success" class="click-link" style="margin:10px">View Network</button>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-primary">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-6 section-header">
                    Overview
                  </div>
                  <div class="col-md-6" style="text-align: right;">
                    <a ng-click="update()" class="click-link">UPDATE</a>
                  </div>
                </div>
                <div class="row"><div class="col-md-12">&nbsp;</div></div>

                <div class="row">
                  <div class="col-md-2 data-heading">
                    Headquarter:
                  </div>
                  <div class="col-md-10">
                    <div>{{objData.city}}<span ng-if="objData.city">,<span> {{objData.country}}</div>
                    <div>{{objData.phone}}<span ng-if="objData.phone && objData.email"> - </span>{{objData.email}}</div>
                  </div>
                </div>
                <div class="row"><div class="col-md-12">&nbsp;</div></div>

                <div ng-repeat="prop in model.fields | orderBy: displayOrder" ng-if="prop.detailSection == 'details'">
                  <div class="row">
                    <div class="col-md-2 data-heading">
                      {{prop.displayName}}:
                    </div>
                    <div class="col-md-10" ng-bind-html="util.trust(util.formatData(prop.controlType, prop.controlType, objData[prop.schemaName]))">
                    </div>
                  </div>
                  <div class="row"><div class="col-md-12">&nbsp;</div></div>
                </div>                

                <div ng-if="objData.description" class="row">
                  <div class="col-md-12">
                    {{objData.description}}
                  </div>
                </div>
                <div class="row"><div class="col-md-12">&nbsp;</div></div>

              </div>
            </div>
          </div>
        </div>
        <div class="row"><div class="col-md-12">&nbsp;</div></div>

        <div class="row" ng-if="userSession.rights == 'Full Admin'">
          <div class="col-md-12">
            <div class="panel panel-primary">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-6 section-header">
                    Scoring
                  </div>
                  <div class="col-md-6" style="text-align: right;">
                  </div>
                </div>
                <div class="row"><div class="col-md-12">&nbsp;</div></div>

                  <div class="row">
                    <div class="col-md-2 data-heading">
                      Rank / Degree Centrality:
                    </div>
                    <div class="col-md-10">
                      {{objData.statsdegreecentrality}}
                    </div>
                  </div>
                  <div class="row"><div class="col-md-12">&nbsp;</div></div>

                  <div class="row">
                    <div class="col-md-2 data-heading">
                      Rank / Between Centrality:
                    </div>
                    <div class="col-md-10">
                      {{objData.statsbetweencentrality}}
                    </div>
                  </div>
                  <div class="row"><div class="col-md-12">&nbsp;</div></div>
                  
                  <div class="row">
                    <div class="col-md-2 data-heading">
                      Data Quaility Score:
                    </div>
                    <div class="col-md-10">
                      {{objData.dataquailityscore}}
                    </div>
                  </div>
                  <div class="row"><div class="col-md-12">&nbsp;</div></div>

              </div>
            </div>
          </div>
        </div>
        <div class="row"><div class="col-md-12">&nbsp;</div></div>  

        <div ng-repeat="recordInfo in [{name: 'Facilities and Resources Providers', showType: true, recordsName: 'EEntrepreneurialResourcesProvider', direction: 'in', otherFields: '', avatar: 'fa-building', route: 'organizationDetail'}]" ng-include="'partials/userDetailsRelated.html'"></div>

        <div ng-repeat="recordInfo in [{name: 'Media Mentions', mainObject: 'VMedia', recordsName: 'EMediaTarget', direction: 'out', nameField: 'title', otherFields: 'date', avatar: 'fa-newspaper-o', route: 'mediaDetail'}]" ng-include="'partials/userDetailsRelated.html'"></div>

      </div>
    </div>
  </div>
</div>
