<div class="row">
  <div class="col-md-12">
    <br>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert"> 
      <div><strong ng-click="toggleMode()" class="hover-link">{{objData.name}}</strong></div>
    </div>
  </div>
</div>

<div ng-if="mode.view!='data'" class="row">
  <div ng-repeat="recordInfo in [{}]" ng-include="'partials/network.html'"></div>
</div>

<div ng-if="mode.view=='data'" class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-2">
        <button type="button" class="btn btn-success" class="click-link" style="margin:10px">Add to List</button>
        <button ng-click="toggleMode()" type="button" class="btn btn-success" class="click-link" style="margin:10px">View Network</button>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-primary">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-6 section-header">
                    Overview
                  </div>
                  <div class="col-md-6" style="text-align: right;">
                    <a ng-click="update()" class="click-link">UPDATE</a>
                  </div>
                </div>
                <div class="row"><div class="col-md-12">&nbsp;</div></div>

                <div class="row">
                  <div class="col-md-2 data-heading">
                    Headquarter:
                  </div>
                  <div class="col-md-10">
                    <div>{{objData.city}}<span ng-if="objData.city">,<span> {{objData.country}}</div>
                    <div>{{objData.phone}}<span ng-if="objData.phone && objData.email"> - </span>{{objData.email}}</div>
                  </div>
                </div>
                <div class="row"><div class="col-md-12">&nbsp;</div></div>

                <div class="row">
                  <div class="col-md-2 data-heading">
                    Website:
                  </div>
                  <div class="col-md-10">
                    <a ng-if="objData.website.indexOf('http') == -1" href="http://{{objData.website}}" target="_new">{{objData.website}}</a>
                    <a ng-if="objData.website.indexOf('http') > -1" href="{{objData.website}}" target="_new">{{objData.website}}</a>
                  </div>
                </div>
                <div class="row"><div class="col-md-12">&nbsp;</div></div>

                <div class="row">
                  <div class="col-md-2 data-heading">
                    Services:
                  </div>
                  <div class="col-md-10">
                    {{objData.services}}
                  </div>
                </div>
                <div class="row"><div class="col-md-12">&nbsp;</div></div>

                <div class="row">
                  <div class="col-md-2 data-heading">
                    Type:
                  </div>
                  <div class="col-md-10">
                    {{objData.type}}
                  </div>
                </div>
                <div class="row"><div class="col-md-12">&nbsp;</div></div>

                <div class="row">
                  <div class="col-md-2 data-heading">
                    Area of Assistance:
                  </div>
                  <div class="col-md-10">
                    {{objData.area}}
                  </div>
                </div>
                <div class="row"><div class="col-md-12">&nbsp;</div></div>

                <div class="row">
                  <div class="col-md-2 data-heading">
                    Need:
                  </div>
                  <div class="col-md-10">
                    {{objData.need}}
                  </div>
                </div>
                <div class="row"><div class="col-md-12">&nbsp;</div></div>

                <div class="row">
                  <div class="col-md-2 data-heading">
                    Useful for Phase of Development:
                  </div>
                  <div class="col-md-10">
                    {{objData.phase}}
                  </div>
                </div>
                <div class="row"><div class="col-md-12">&nbsp;</div></div>

                <div class="row">
                  <div class="col-md-2 data-heading">
                    Useful for Industry / Sector:
                  </div>
                  <div class="col-md-10">
                    {{util.formatMultiSelect(objData.industry)}}
                  </div>
                </div>
                <div class="row"><div class="col-md-12">&nbsp;</div></div>

                <div class="row margin-bottom">
                  <div class="col-md-2 data-heading">
                    Additional Information:
                  </div>
                  <div class="col-md-10">
                    <div>
                      <a ng-if="objData.source.indexOf('http') == -1" href="http://{{objData.source}}" target="_new">{{objData.source}}</a>
                      <a ng-if="objData.source.indexOf('http') > -1" href="{{objData.source}}" target="_new">{{objData.source}}</a>
                    </div>
                  </div>
                </div>
                
                <div ng-if="objData.description" class="row">
                  <div class="col-md-12">
                    {{objData.description}}
                  </div>
                </div>
                <div class="row"><div class="col-md-12">&nbsp;</div></div>


              </div>
            </div>
          </div>
        </div>
        <div class="row"><div class="col-md-12">&nbsp;</div></div>

        <div ng-repeat="recordInfo in [{name: 'Providers', showType: true, recordsName: 'EEntrepreneurialResourcesProvider', direction: 'in', otherFields: '', avatar: 'fa-building', route: 'organizationDetail'}]" ng-include="'partials/userDetailsRelated.html'"></div>

      </div>
    </div>
  </div>
</div>
