<div>

  <div class="row">
    <div class="col-md-12"> 

      <div class="row" ng-if="mode.showAdv && mode.showAdv == 'ESpinOff'">
        <div class="col-md-12">    
              <div class="ng-cloak form-group">                             
                <span class="in-input">Department</span>
                <ui-select multiple ng-model="filters.department.filters" theme="bootstrap" ng-disabled="" sortable="true" close-on-select="false" style="height: 50px;padding-top: 25px;" class="form-control-wide">
                  <ui-select-match placeholder="Select...">{{$item.name}}</ui-select-match>
                  <ui-select-choices repeat="person in piskLists.department.options | propsFilter: {name: $select.search} | orderBy: 'name'">
                    <div ng-bind-html="person.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>          
        </div>
      </div>

      <div class="row" ng-if="mode.showAdv && mode.showAdv == 'VSpinOff'">
        <div class="col-md-6">    
          <div class="row">
            <div class="col-md-12">    
              <div class="ng-cloak form-group">                             
                <span class="in-input">Industry</span>
                <ui-select multiple ng-model="filters.industry.filters" theme="bootstrap" ng-disabled="" sortable="true" close-on-select="false" style="height: 50px;padding-top: 25px;" class="form-control-wide">
                  <ui-select-match placeholder="Select...">{{$item.name}}</ui-select-match>
                  <ui-select-choices repeat="person in piskLists.industry.options | propsFilter: {name: $select.search} | orderBy: 'name'">
                    <div ng-bind-html="person.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="ng-cloak form-group">                             
                <span class="in-input">Business Model</span>
                <ui-select multiple ng-model="filters.businessmodel.filters" theme="bootstrap" ng-disabled="" sortable="true" close-on-select="false" style="height: 50px;padding-top: 25px;" class="form-control-wide">
                  <ui-select-match placeholder="Select...">{{$item.name}}</ui-select-match>
                  <ui-select-choices repeat="person in piskLists.businessmodel.options | propsFilter: {name: $select.search} | orderBy: 'name'">
                    <div ng-bind-html="person.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">    

          <div class="row">
            <div class="col-md-12">
              <div class="ng-cloak form-group">                             
                <span class="in-input">Type of Spinoff</span>
                <ui-select multiple ng-model="filters.typeofspinoff.filters" theme="bootstrap" ng-disabled="" sortable="true" close-on-select="false" style="height: 50px;padding-top: 25px;" class="form-control-wide">
                  <ui-select-match placeholder="Select...">{{$item.name}}</ui-select-match>
                  <ui-select-choices repeat="person in piskLists.typeofspinoff.options | propsFilter: {name: $select.search} | orderBy: 'name'">
                    <div ng-bind-html="person.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="ng-cloak form-group">                             
                <span class="in-input">Product Category</span>
                <ui-select multiple ng-model="filters.productcategory.filters" theme="bootstrap" ng-disabled="" sortable="true" close-on-select="false" style="height: 50px;padding-top: 25px;" class="form-control-wide">
                  <ui-select-match placeholder="Select...">{{$item.name}}</ui-select-match>
                  <ui-select-choices repeat="person in piskLists.productcategory.options | propsFilter: {name: $select.search} | orderBy: 'name'">
                    <div ng-bind-html="person.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="ng-cloak form-group">                             
                <span class="in-input">Status</span>
                <ui-select multiple ng-model="filters.status.filters" theme="bootstrap" ng-disabled="" sortable="true" close-on-select="false" style="height: 50px;padding-top: 25px;" class="form-control-wide">
                  <ui-select-match placeholder="Select...">{{$item.name}}</ui-select-match>
                  <ui-select-choices repeat="person in piskLists.status.options | propsFilter: {name: $select.search} | orderBy: 'name'">
                    <div ng-bind-html="person.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>
        </div>
      </div>    

      <div class="row" ng-if="mode.showAdv && mode.showAdv == 'VCompany'">
        <div class="col-md-6">    
          <div class="row">

            <div class="col-md-12">    
              <div class="ng-cloak form-group">                             
                <span class="in-input">Industry</span>
                <ui-select multiple ng-model="filters.industry.filters" theme="bootstrap" ng-disabled="" sortable="true" close-on-select="false" style="height: 50px;padding-top: 25px;" class="form-control-wide">
                  <ui-select-match placeholder="Select...">{{$item.name}}</ui-select-match>
                  <ui-select-choices repeat="person in piskLists.industry.options | propsFilter: {name: $select.search} | orderBy: 'name'">
                    <div ng-bind-html="person.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-6">    
          <div class="row">
            <div class="col-md-12">    
              <div class="ng-cloak form-group">                             
                <span class="in-input">Organisation Type</span>
                <ui-select multiple ng-model="filters.organizationtype.filters" theme="bootstrap" ng-disabled="" sortable="true" close-on-select="false" style="height: 50px;padding-top: 25px;" class="form-control-wide">
                  <ui-select-match placeholder="Select...">{{$item.name}}</ui-select-match>
                  <ui-select-choices repeat="person in piskLists.organizationtype.options | propsFilter: {name: $select.search} | orderBy: 'name'">
                    <div ng-bind-html="person.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" ng-if="mode.showAdv == 'VResearchInstitution'">
        <div class="col-md-12">
          <div class="ng-cloak form-group">                             
            <span class="in-input">Research Institution Type</span>
            <ui-select multiple ng-model="filters.researchinstitutiontype.filters" theme="bootstrap" ng-disabled="" sortable="true" close-on-select="false" style="height: 50px;padding-top: 25px;" class="form-control-wide">
              <ui-select-match placeholder="Select...">{{$item.name}}</ui-select-match>
              <ui-select-choices repeat="person in piskLists.researchinstitutiontype.options | propsFilter: {name: $select.search} | orderBy: 'name'">
                <div ng-bind-html="person.name | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>

      <div class="row" ng-if="mode.showAdv == 'VPerson'">
        <div class="col-md-6">
          <div class="ng-cloak form-group">                             
            <span class="in-input">Expertise</span>
            <ui-select multiple ng-model="filters.expertise.filters" theme="bootstrap" ng-disabled="" sortable="true" close-on-select="false" style="height: 50px;padding-top: 25px;" class="form-control-wide">
              <ui-select-match placeholder="Select...">{{$item.name}}</ui-select-match>
              <ui-select-choices repeat="person in piskLists.expertise.options | propsFilter: {name: $select.search} | orderBy: 'name'">
                <div ng-bind-html="person.name | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
      <div class="row" ng-if="mode.showAdv == 'VInvestment'">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <div class="ng-cloak form-group">                             
                <span class="in-input">Investment Type</span>
                <ui-select multiple ng-model="filters.investmenttype.filters" theme="bootstrap" ng-disabled="" sortable="true" close-on-select="false" style="height: 50px;padding-top: 25px;" class="form-control-wide">
                  <ui-select-match placeholder="Select...">{{$item.name}}</ui-select-match>
                  <ui-select-choices repeat="person in piskLists.investmenttype.options | propsFilter: {name: $select.search} | orderBy: 'name'">
                    <div ng-bind-html="person.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="ng-cloak form-group">                             
                <span class="in-input">Investment Stage</span>
                <ui-select multiple ng-model="filters.investmentstage.filters" theme="bootstrap" ng-disabled="" sortable="true" close-on-select="false" style="height: 50px;padding-top: 25px;" class="form-control-wide">
                  <ui-select-match placeholder="Select...">{{$item.name}}</ui-select-match>
                  <ui-select-choices repeat="person in piskLists.investmentstage.options | propsFilter: {name: $select.search} | orderBy: 'name'">
                    <div ng-bind-html="person.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="ng-cloak form-group">                             
                <span class="in-input">Investment Round</span>
                <ui-select multiple ng-model="filters.investmentround.filters" theme="bootstrap" ng-disabled="" sortable="true" close-on-select="false" style="height: 50px;padding-top: 25px;" class="form-control-wide">
                  <ui-select-match placeholder="Select...">{{$item.name}}</ui-select-match>
                  <ui-select-choices repeat="person in piskLists.investmentround.options | propsFilter: {name: $select.search} | orderBy: 'name'">
                    <div ng-bind-html="person.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>          
            </div>
          </div>
        </div>
      </div>

      <div class="row" ng-if="mode.showAdv == 'EPartner'">
        <div class="col-md-6">
          <div class="ng-cloak form-group">                             
            <span class="in-input">Partner Type</span>
            <ui-select multiple ng-model="filters.partnerType.filters" theme="bootstrap" ng-disabled="" sortable="true" close-on-select="false" style="height: 50px;padding-top: 25px;" class="form-control-wide">
              <ui-select-match placeholder="Select...">{{$item.name}}</ui-select-match>
              <ui-select-choices repeat="person in piskLists.partnerType.options | propsFilter: {name: $select.search} | orderBy: 'name'">
                <div ng-bind-html="person.name | highlight: $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <button ng-if="mode.showAdv" ng-click="applyFilters()" type="button" class="btn btn-success" class="click-link">Apply Filters</button> <button ng-if="mode.showAdv" ng-click="hideFilters()" type="button" class="btn btn-success" class="click-link">Hide Filters</button> 
        </div>
      </div>
    </div>
  </div>  
</div>