
<div class="row">
	<div class="col-md-12">
		<br>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="alert alert-info" role="alert"> <strong>{{objData.name}}</strong> </div>
	</div>
</div>

<div ng-if="mode!='data'" class="row">
	<div class="col-md-12">
		<div class="row">
			<div ng-repeat="obj in schemas" class="graph-info" style="background-color:{{obj.model.color}}" ng-if="obj.model.color">
				<span style="color:{{obj.model.fontColor}}">{{obj.model.displayName}}</span>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="row">
			<button ng-click="toggleMode()" type="button" class="btn btn-success" class="click-link">View Data</button>
			<div style="float:right;margin:10px"><a ng-click="zoomIn()" class="click-link"><i class="fa fa-search-plus" aria-hidden="true"></i> Zoom In</a></div>
			<div style="float:right;margin:10px"><a ng-click="zoomOut()" class="click-link"><i class="fa fa-search-minus" aria-hidden="true"></i> Zoom Out</a></div>			
		</div>
	</div>
	<div class="col-md-12">
		<div class="row">
			<div id="mynetwork"></div>
		</div>
	</div>
</div>

<div ng-if="mode=='data'" class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-2">
				<button type="button" class="btn btn-success" class="click-link" style="margin:10px">Add to List</button>
				<button ng-click="toggleMode()" type="button" class="btn btn-success" class="click-link" style="margin:10px">View Network</button>
			</div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
						  <div class="panel-body">
						    <div class="row">
									<div class="col-md-6 section-header">
										Overview
									</div>
									<div class="col-md-6" style="text-align: right;">
										<a ng-click="update()" class="click-link">UPDATE</a>
									</div>
								</div>
						    <div class="row"><div class="col-md-12">&nbsp;</div></div>
						    <div class="row">
									<div class="col-md-2 data-heading">
										Investment:
									</div>
									<div class="col-md-10">
										{{objData.name}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Type:
									</div>
									<div class="col-md-10">
										{{objData.type}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Amount:
									</div>
									<div class="col-md-10">
										€ {{util.formatMoney(objData.amount)}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Investor:
									</div>
									<div class="col-md-10">
										<span ng-repeat="investor in recDetails.EInvestor"><a ng-click="util.navigate('investorsDetail',{id:investor.in.inId})" class="click-link">{{investor.in.name}}</a><span ng-if="$index < recDetails.EInvestor.length-1">,</span> </span>
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Company Funded:
									</div>
									<div class="col-md-10">
										<span ng-repeat="funded in recDetails.EFunded"><a ng-click="util.navigate('companyDetail',{id:funded.in.inId})" class="click-link">{{funded.in.name}}</a><span ng-if="$index < recDetails.EFunded.length-1">,</span> </span>
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						  </div>
						</div>
					</div>
				</div>
				<div class="row"><div class="col-md-12">&nbsp;</div></div>

				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
						  <div class="panel-body">
						    <div class="row">
									<div class="col-md-6 section-header">
										Advisors
									</div>
									<div class="col-md-6" style="text-align: right;">
										<a ng-click="update()" class="click-link">UPDATE</a>
									</div>
								</div>
						    <div class="row" ng-repeat="board in recDetails.EAdvisor">
						    	<div ng-if="$index % 2 == 0">
										<div class="col-md-6" style="margin-bottom:10px;margin-top:10px;height: 50px;">
											<div style="float:left"><img src="img/emptyhead.jpg" style="width:50px;padding:5px;"></div>
											<div style="margin-top: 10px;">
												<span><a ng-click="util.navigate('peopleDetail',{id:recDetails.EAdvisor[$index].in.inId})" class="click-link">{{recDetails.EAdvisor[$index].in.name}}</a></span>
											</div>
										</div>
										<div class="col-md-6" style="margin-bottom:10px;margin-top:10px;height: 50px;">
											<div ng-if="recDetails.EAdvisor[$index+1]" style="float:left"><img src="img/emptyhead.jpg" style="width:50px;padding:5px;"></div>
											<div ng-if="recDetails.EAdvisor[$index+1]" style="margin-top: 10px;">
												<span><a ng-click="util.navigate('peopleDetail',{id:recDetails.EAdvisor[$index+1].in.inId})" class="click-link">{{recDetails.EAdvisor[$index+1].in.name}}</a></span>
											</div>
										</div>
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row"><div class="col-md-12">&nbsp;</div></div>


			</div>
		</div>
	</div>
</div>
