
<div class="row">
	<div class="col-md-12">
		<br>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="alert alert-info" role="alert"> <strong>{{objData.name}}</strong> </div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-2">
				<img class="media-object" src="img/logos/logo_home.png" style="width:100px"><br>
				<button type="button" class="btn btn-success">Add to List</button>
			</div>
			<div class="col-md-10">

				<div class="row">
					<div class="col-md-12">

						<div class="panel panel-primary">
						  <div class="panel-body">
						    <div class="row">
									<div class="col-md-6 section-header">
										Overview
									</div>
									<div class="col-md-6" style="text-align: right;">
										<a ng-click="update()">UPDATE</a>
									</div>
								</div>
						    <div class="row"><div class="col-md-12">&nbsp;</div></div>
						    <div class="row">
									<div class="col-md-2 data-heading">
										Headquarter:
									</div>
									<div class="col-md-10">
										{{objData.city}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>
						    <div class="row">
									<div class="col-md-2 data-heading">
										Founders:
									</div>
									<div class="col-md-10">
										<span ng-repeat="found in recordDetails.EFounded.relationships"><a ng-click="goPerson(found['@rid'])">{{found.name}}</a><span ng-if="$index != recordDetails.EFounded.relationships.length-1">,</span> </span>
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Industry / Sector:
									</div>
									<div class="col-md-10">
										{{objData.industry}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Founded:
									</div>
									<div class="col-md-10">
										{{objData.yearfounded}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Website:
									</div>
									<div class="col-md-10">
										{{objData.website}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-12">
										{{objData.description}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>								
						  </div>
						</div>
					</div>
				</div>
				<div class="row"><div class="col-md-12">&nbsp;</div></div>


				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
						  <div class="panel-body">
						    <div class="row">
									<div class="col-md-6 section-header">
										Investments ({{recDetails.VInvestment.length}})
									</div>
									<div class="col-md-6" style="text-align: right;">
										<a ng-click="update()">UPDATE</a>
									</div>
								</div>
						    <div class="row"><div class="col-md-12">&nbsp;</div></div>
						    <div class="row">
									<div class="col-md-12">
										<table class="table table-hover">
											<tr ng-repeat="invest in recDetails.VInvestment">
												<td>{{util.formatDate(invest.closedate,"MMM, YYYY")}}</td>
												<td>{{getCompany(invest.id,'name')}}</td>
												<td>€ {{util.formatMoney(invest.amount)}}</td>
												<td>{{invest.type}}</td>
									  </table>
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row"><div class="col-md-12">&nbsp;</div></div>


				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
						  <div class="panel-body">
						    <div class="row">
									<div class="col-md-6 section-header">
										Board
									</div>
									<div class="col-md-6" style="text-align: right;">
										<a ng-click="update()">UPDATE</a>
									</div>
								</div>
						    <div class="row" ng-repeat="board in recDetails.EBoardMember">
						    	<div ng-if="$index % 2 == 0">
										<div class="col-md-6" style="margin-bottom:10px;margin-top:10px;height: 50px;">
											<div style="float:left"><img src="img/emptyhead.jpg" style="width:50px;padding:5px;"></div>
											<div style="margin-top: 10px;">
												<span><a ng-click="goPerson()">{{recDetails.EBoardMember[$index].in.name}}</a></span>
											</div>
										</div>
										<div class="col-md-6" style="margin-bottom:10px;margin-top:10px;height: 50px;">
											<div style="float:left"><img src="img/emptyhead.jpg" style="width:50px;padding:5px;"></div>
											<div style="margin-top: 10px;">
												<span><a ng-click="goPerson()">{{recDetails.EBoardMember[$index+1].in.name}}</a></span>
											</div>
										</div>
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row"><div class="col-md-12">&nbsp;</div></div>

			</div>
		</div>
	</div>
</div>
