<div class="row">
	<div class="col-md-12">
		<br>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="alert alert-info" role="alert"> 
			<div><strong ng-click="toggleMode()" class="hover-link">{{objData.name}}</strong></div>
		</div>
	</div>
</div>

<div ng-if="mode.view!='data'">
	<div ng-repeat="recordInfo in [{}]" ng-include="'partials/network.html'"></div>
</div>

<div ng-if="mode.view=='data' && loaded==true" class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-2">
				<img ng-if="objData.logo" class="media-object" src="/www/logos/{{objData.logo}}" style="width:100px"><br>
				<img ng-if="!objData.logo" class="media-object" src="/soiapp/img/logos/emptyLogo.png" style="width:100px"><br>
				<button ng-if="!path || !path.src" type="button" ng-click="setPathSrcMode(objData)" class="btn btn-success" class="click-link" style="margin:5px">Set Shortest Path Source</button>
				<button ng-if="path && path.src" type="button" ng-click="setPathDestMode(objData)" class="btn btn-success" class="click-link" style="margin:5px">Set Shortest Path Destination</button>
				<button ng-click="toggleMode()" type="button" class="btn btn-success" class="click-link" style="margin:10px">View Network</button>
			</div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
						  <div class="panel-body">
						    <div class="row">
									<div class="col-md-6 section-header">
										Overview
									</div>
									<div class="col-md-6" style="text-align: right;">
										<a ng-click="update()" class="click-link">UPDATE</a>
									</div>
								</div>
						    <div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Headquarter:
									</div>
									<div class="col-md-10">
										<div>{{objData.city}}<span ng-if="objData.city">,<span> {{objData.country}}</div>
										<div>{{objData.phone}}<span ng-if="objData.phone && objData.email"> - </span>{{objData.email}}</div>
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Website:
									</div>
									<div class="col-md-10">
										<a ng-if="objData.website.indexOf('http') == -1" href="http://{{objData.website}}" target="_new">{{objData.website}}</a>
										<a ng-if="objData.website.indexOf('http') > -1" href="{{objData.website}}" target="_new">{{objData.website}}</a>
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

								<div class="row margin-bottom">
									<div class="col-md-2 data-heading">
										Awards and Certifications:
									</div>
									<div class="col-md-10" ng-bind-html="util.trust(util.formatMultiLine(objData.certsawards, {}))">
									</div>
								</div>								

						    <div class="row">
									<div class="col-md-12">
										{{objData.description}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Rank:
									</div>
									<div class="col-md-10">
										{{objData.statsdegreecentrality}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						  </div>
						</div>
					</div>
				</div>
				<div class="row"><div class="col-md-12">&nbsp;</div></div>

				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
						  <div class="panel-body">
						    <div class="row">
									<div class="col-md-6 section-header">
										Investment Firm Details
									</div>
									<div class="col-md-6" style="text-align: right;">
										<a ng-click="update()" class="click-link">UPDATE</a>
									</div>
								</div>
						    <div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Status:
									</div>
									<div class="col-md-10">
										{{objData.status}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Type of Investment Firm:
									</div>
									<div class="col-md-10">
										{{util.formatMultiSelect(objData.type)}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>								

						    <div class="row">
									<div class="col-md-2 data-heading">
										Industry / Sector:
									</div>
									<div class="col-md-10">
										{{util.formatMultiSelect(objData.industry)}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Areas of Technology Application:
									</div>
									<div class="col-md-10">
										{{objData.technologyapplication}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Founded In:
									</div>
									<div class="col-md-10">
										{{objData.yearfounded}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>
						    <div class="row">
									<div class="col-md-2 data-heading">
										Employees:
									</div>
									<div class="col-md-10">
										{{objData.size}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

								<div class="row margin-bottom">
									<div class="col-md-2 data-heading">
										Financial History:
									</div>
									<div class="col-md-10" ng-bind-html="util.trust(util.formatMultiLine(objData.turnover, {col: 1, title: 'Average Growth Rate', calcMethod: calcGrowthCall}))">
									</div>
								</div>

								<div class="row margin-bottom">
									<div class="col-md-2 data-heading">
										Additional Information:
									</div>
									<div class="col-md-10">
										<div>
											<a ng-if="objData.source1.indexOf('http') == -1" href="http://{{objData.source1}}" target="_new">{{objData.source1}}</a>
											<a ng-if="objData.source1.indexOf('http') > -1" href="{{objData.source1}}" target="_new">{{objData.source1}}</a>
										</div>
										<div>
											<a ng-if="objData.source2.indexOf('http') == -1" href="http://{{objData.source2}}" target="_new">{{objData.source2}}</a>
											<a ng-if="objData.source2.indexOf('http') > -1" href="{{objData.source2}}" target="_new">{{objData.source2}}</a>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="row"><div class="col-md-12">&nbsp;</div></div>


				<div ng-repeat="recordInfo in [{name: 'Investments', recordsName: 'EInvestor', direction: 'out', fields: [{objectType:'VInvestment', schemaName:'closedate'}, {objectType:'VInvestment', schemaName:'amount'}, {objectType:'VInvestment', schemaName:'type'}], route: 'investmentDetail'}]" ng-include="'partials/userDetailsRelatedTable.html'"></div>

				<div ng-repeat="recordInfo in [{name: 'Key People', recordsName: 'EWorksfor', direction: 'out', otherFields: 'role', avatar: 'people', route: 'peopleDetail'}]" ng-include="'partials/userDetailsRelated.html'"></div>

				<div ng-repeat="recordInfo in [{name: 'Board', recordsName: 'EBoardMember', direction: 'in', otherFields: '', avatar: 'people', route: 'peopleDetail'}]" ng-include="'partials/userDetailsRelated.html'"></div>

				<div ng-repeat="recordInfo in [{name: 'R&D Projects', mainObject: 'VProject', recordsName: 'EProjectContributor', direction: 'out', nameField: 'name', otherFields: 'startdate', avatar: 'fa-cogs', route: 'projectDetail'}]" ng-include="'partials/userDetailsRelated.html'"></div>

				<div ng-repeat="recordInfo in [{name: 'Media Mentions', mainObject: 'VMedia', recordsName: 'EMediaTarget', direction: 'out', nameField: 'title', 	otherFields: 'type', avatar: 'fa-newspaper-o', route: 'mediaDetail'}]" ng-include="'partials/userDetailsRelated.html'"></div>

			</div>
		</div>
	</div>
</div>
