<div class="row">
	<div class="col-md-12">
		<br>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="alert alert-info" role="alert"> 
			<div><strong ng-click="toggleMode()" class="hover-link">{{objData.name}}</strong></div>
		</div>
	</div>
</div>

<div ng-if="mode.view!='data'">
	<div ng-repeat="recordInfo in [{}]" ng-include="'partials/network.html'"></div>
</div>

<div ng-if="mode.view=='data' && loaded==true" class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-2">
				<button ng-if="!path || !path.src" type="button" ng-click="setPathSrcMode(objData)" class="btn btn-success" class="click-link" style="margin:5px">Set Shortest Path Source</button>
				<button ng-if="path && path.src" type="button" ng-click="setPathDestMode(objData)" class="btn btn-success" class="click-link" style="margin:5px">Set Shortest Path Destination</button>
				<button ng-click="toggleMode()" type="button" class="btn btn-success" class="click-link" style="margin:10px">View Network</button>
			</div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
						  <div class="panel-body">
						    <div class="row">
									<div class="col-md-6 section-header">
										Overview
									</div>
									<div class="col-md-6" style="text-align: right;">
										<a ng-click="update()" class="click-link">UPDATE</a>
									</div>
								</div>
						    <div class="row"><div class="col-md-12">&nbsp;</div></div>
						    <div class="row">
									<div class="col-md-2 data-heading">
										Investment:
									</div>
									<div class="col-md-10">
										{{objData.name}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Type:
									</div>
									<div class="col-md-10">
										{{objData.type}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Stage:
									</div>
									<div class="col-md-10">
										{{objData.stage}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Round:
									</div>
									<div class="col-md-10">
										{{objData.round}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Amount:
									</div>
									<div class="col-md-10">
										€ {{util.formatMoney(objData.amount)}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Date:
									</div>
									<div class="col-md-10">
										{{util.formatDate(objData.closedate,"MMM, YYYY")}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Investor<span ng-if="recDetails.EInvestor.length > 1">s</span>:
									</div>
									<div class="col-md-10">
										<span ng-repeat="investor in recDetails.EInvestor">
											<a ng-click="goRoute(investor,'in')" class="click-link">{{investor.in.name}}</a><span ng-if="$index < recDetails.EInvestor.length-1">,</span>
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Organiztion Distributed To:
									</div>
									<div class="col-md-10">
										<span ng-repeat="funded in recDetails.EFunded"><a ng-click="goRoute(funded,'in')" class="click-link">{{funded.in.name}}</a><span ng-if="$index < recDetails.EFunded.length-1">,</span> </span>
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Details:
									</div>
									<div class="col-md-10">
										{{objData.details}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>


						    <div class="row">
									<div class="col-md-12">
										{{objData.description}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						  </div>
						</div>
					</div>
				</div>
				<div class="row"><div class="col-md-12">&nbsp;</div></div>

				<div ng-repeat="recordInfo in [{name: 'Advisors', recordsName: 'EAdvisor', direction: 'in', otherFields: '', avatar: 'people', route: 'peopleDetail'}]" ng-include="'partials/userDetailsRelated.html'"></div>

				<div ng-repeat="recordInfo in [{name: 'Media Mentions', mainObject: 'VMedia', recordsName: 'EMediaTarget', direction: 'out', nameField: 'title', 	otherFields: 'type', avatar: 'fa-newspaper-o', route: 'mediaDetail'}]" ng-include="'partials/userDetailsRelated.html'"></div>				

			</div>
		</div>
	</div>
</div>
