<div ng-controller="navController">
	<div ng-if="loggedIn" class="navbar navbar-inverse navbar-fixed-left">
		<a class="navbar-brand" href="#">Spin-Off<br>Intelligence</a>
		
		<a ng-if="userSession.email" class="navbar-user" ng-click="util.navigate('profile')">{{userSession.fname}} {{userSession.lname}}</a>

		<ul class="nav navbar-nav" style="margin-top:20px">
			<li class="nav-item-li-small">
				<div class="nav-item-icon"><i class="fa fa-search" aria-hidden="true"></i></a></div><div><a ng-click="util.navigate('search')" class="nav-click-link">Search</a></a></div>
			</li>
			<li class="nav-item-li">
				<div class="nav-item-icon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></a></div><div><a ng-click="util.navigate('userResearchInstitutions')" class="nav-click-link">Research Institutions</a></a></div>
			</li>
		 	<li class="nav-item-li">
		 		<div class="nav-item-icon"><i class="fa fa-building-o" aria-hidden="true"></i></a></div><div><a ng-click="util.navigate('userSpinOffs')" class="nav-click-link">SpinOff<br>Companies</a></a></div>
		 	</li>
		 	<li class="nav-item-li-small">
		 		<div class="nav-item-icon"><i class="fa fa-users" aria-hidden="true"></i></a></div><div><a ng-click="util.navigate('userPeople')" class="nav-click-link">People</a></a></div>
		 	</li>
		 	<li class="nav-item-li-small">
		 		<div class="nav-item-icon"><i class="fa fa-money" aria-hidden="true"></i></a></div><div><a ng-click="util.navigate('userInvestment')" class="nav-click-link">Investments</a></a></div>
		 	</li>
		 	<li class="nav-item-li">
		 		<div class="nav-item-icon"><i class="fa fa-newspaper-o" aria-hidden="true"></i></a></div><div><a ng-click="util.navigate('userNews')" class="nav-click-link">News</a></a></div>
		 	</li>
		 	<li class="nav-item-li">
		 		<div class="nav-item-icon"><i class="fa fa-building" aria-hidden="true"></i></a></div><div><a ng-click="util.navigate('userInvestmentFirms')" class="nav-click-link">Investment Firms</a></a></div>
		 	</li>
		 	<li class="nav-item-li">
		 		<div class="nav-item-icon"><i class="fa fa-building" aria-hidden="true"></i></a></div><div><a ng-click="util.navigate('userOrganizations')" class="nav-click-link">Organiztions</a></a></div>
		 	</li>
		 	<li class="nav-item-li">
		 		<div class="nav-item-icon"><i class="fa fa-gift" aria-hidden="true"></i></a></div><div><a ng-click="util.navigate('userEntrepreneurialResources')" class="nav-click-link">Entrepreneurial Resources</a></a></div>
		 	</li>
		 	<li class="nav-item-li">
		 		<div class="nav-item-icon"><i class="fa fa-map-o" aria-hidden="true"></i></a></div><div><a ng-click="util.navigate('userNetwork')" class="nav-click-link">Social<br>Graph</a></a></div>
		 	</li>
		 	<li ng-if="userSession.rights == 'Full Admin'" class="nav-item-li">
		 		<div class="nav-item-icon"><i class="fa fa-cog" aria-hidden="true"></i></a></div><div><a ng-click="adminView()" class="nav-click-link">Admin</a></a></div>
		 	</li>
		 	<li class="nav-item-li">
		 		<div class="nav-item-icon"><i class="fa fa-times" aria-hidden="true"></i></a></div><div><a ng-click="logout()" class="nav-click-link">Logout</a></a></div>
		 	</li>
		</ul>
	</div>
</div>