<div ng-controller="navController">
	<a class="navbar-brand" href="#">Spin-Off<br>Intelligence</a>
	<ul class="nav navbar-nav" style="margin-top:20px">
		<li class="nav-item-li-small">
			<div class="nav-item-icon"><i class="fa fa-search" aria-hidden="true"></i></a></div><div><a ng-click="util.navigate('search')" class="nav-click-link">Search</a></a></div>
		</li>
		<li class="nav-item-li-small">
			<div class="nav-item-icon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></a></div><div><a ng-click="util.navigate('userUniversities')" class="nav-click-link">Universities</a></a></div>
		</li>
	 	<li class="nav-item-li">
	 		<div class="nav-item-icon"><i class="fa fa-building-o" aria-hidden="true"></i></a></div><div><a ng-click="util.navigate('userSpinOffs')" class="nav-click-link">SpinOff<br>Companies</a></a></div>
	 	</li>
	 	<li class="nav-item-li-small">
	 		<div class="nav-item-icon"><i class="fa fa-users" aria-hidden="true"></i></a></div><div><a ng-click="util.navigate('userPeople')" class="nav-click-link">People</a></a></div>
	 	</li>
	 	<li class="nav-item-li-small">
	 		<div class="nav-item-icon"><i class="fa fa-money" aria-hidden="true"></i></a></div><div><a ng-click="util.navigate('userFunding')" class="nav-click-link">Investments</a></a></div>
	 	</li>
	 	<li class="nav-item-li">
	 		<div class="nav-item-icon"><i class="fa fa-handshake-o" aria-hidden="true"></i></a></div><div><a ng-click="util.navigate('userAquisitions')" class="nav-click-link">Mergers &<br>Aquisitions</a></a></div>
	 	</li>
	 	<li class="nav-item-li">
	 		<div class="nav-item-icon"><i class="fa fa-newspaper-o" aria-hidden="true"></i></a></div><div><a ng-click="util.navigate('userNews')" class="nav-click-link">News</a></a></div>
	 	</li>
	 	<li class="nav-item-li">
	 		<div class="nav-item-icon"><i class="fa fa-building" aria-hidden="true"></i></a></div><div><a ng-click="util.navigate('userCompanies')" class="nav-click-link">Companies</a></a></div>
	 	</li>
	 	<li class="nav-item-li">
	 		<div class="nav-item-icon"><i class="fa fa-map-o" aria-hidden="true"></i></a></div><div><a ng-click="util.navigate('userNetwork')" class="nav-click-link">Social<br>Graph</a></a></div>
	 	</li>
	 	<li class="nav-item-li">
	 		<div class="nav-item-icon"><i class="fa fa-cog" aria-hidden="true"></i></a></div><div><a ng-click="adminView()" class="nav-click-link">Admin</a></a></div>
	 	</li>
	</ul>
</div>