<div ng-controller="networkController as networkController">

  <div class="row">
    <div class="col-md-3">
      <span class="hover-link" ng-click="toggleFilters()"><span ng-if="showFilters()">Hide Filters</span><span ng-if="!showFilters()">Show Filters</span></span> <i ng-if="showFilters()" class="fa fa-chevron-down" aria-hidden="true"></i><i ng-if="!showFilters()" class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
    <div class="col-md-3">

          <div class="row">
            <div class="col-md-6">
              <input type=text ng-model="$parent.screenInfo.searchText">
            </div>
            <div class="col-md-6" style="white-space: nowrap;">
              <button ng-click="findNodes()" type="button" class="btn btn-success" class="click-link">Search</button> <button ng-click="clearSearch()" type="button" class="btn btn-success" class="click-link">Clear</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div style="float:left;margin-right:10px"><a ng-click="zoomIn()" class="hover-link"><i class="fa fa-search-plus" aria-hidden="true"></i> Zoom In</a></div>
        <div style="float:left;"><a ng-click="zoomOut()" class="hover-link"><i class="fa fa-search-minus" aria-hidden="true"></i> Zoom Out</a></div>
    </div>
    <div class="col-md-3">
        <div style="float:left;margin-right:10px">Stats Mode:</div> 
        <div style="float:left;"><select ng-options="stat as stat.name for stat in statsOptions track by stat.value" ng-model="smode" ng-change="setSMode(smode)"></select></div>
    </div>
  </div>

<div ng-if="showFilters()">

  <div ng-include="'partials/filters.html'"></div>

</div>

  <!-- div class="network-details" -->
    <div>
      

      <div class="network-canvas-off">
        <div id="spin"></div>
        <div id="mynetwork"></div>
      </div>


    </div>

    <div ng-if="1==1" class="node-details">
        <div id="block"></div>
        <div id="text">
          <h3 ng-if="fndDetail.name" style="margin-bottom:0px">{{fndDetail.name}}</h3>
          <h3 ng-if="!fndDetail.name && fndDetailName" style="margin-bottom:0px">{{fndDetailName}}</h3>
          
          <div>
            <div class="row">
              <div class="col-md-12" style="white-space: nowrap;">
                <button ng-if="fieldType == 'nodes'" ng-click="viewDetails(fndDetail.objectType, detail)" type="button" class="btn btn-success network-details-button" class="click-link">View Details</button> <button ng-click="hideDetails()" type="button" class="btn btn-success network-details-button" class="click-link">Hide Details</button> 
              </div>
            </div>
            <div class="row" style="margin-top: 5px;" ng-if="fndDetail.objectType.charAt(0) != 'E'">
              <div class="col-md-12" style="white-space: nowrap;">
                <button ng-if="!shortPathView" ng-click="shortPathFilter()" type="button" class="btn btn-success network-details-button">{{getPathName()}} Path Filter</button> <button ng-if="shortPathView" ng-click="shortPathFilterClear()" type="button" class="btn btn-success network-details-button">Clear {{getPathName()}} Path</button> <button ng-if="!shortPathView" ng-click="shortPath()" type="button" class="btn btn-success network-details-button">{{getPathName()}} Path Search</button>
                <div>
                  <button type="button" ng-if="path.mode=='shortest'" class="btn btn-success network-details-button" ng-click="setShortestPathMode('best')" style="margin-top:0px">Use Best Path</button> <button type="button" ng-if="path.mode=='best'" class="btn btn-success network-details-button" ng-click="setShortestPathMode('shortest')" style="margin-top:0px">Use Shortest Path</button> 
                </div>

              </div>
            </div>
          </div>

          <div ng-if="fndDetail" style="margin-bottom:10px"><i>{{getEntityName(fndDetail.objectType)}} - {{fndDetail.id}}</i></div>

          <div ng-if="fndDetail.logo" style="float:left;margin-left:10px;margin-right:10px">
            <div ng-if="fndDetail.objectType == 'VPerson'">
              <div ng-if="fndDetail.logo"><img ng-src="/www/logos/{{fndDetail.logo}}" class="medium-head"></div>
              <div ng-if="!fndDetail.logo"><img ng-src="img/emptyhead.jpg" class="medium-head"></div>
            </div>
            <div ng-if="fndDetail.objectType == 'VCompany'">
              <div ng-if="fndDetail.logo"><img ng-src="/www/logos/{{fndDetail.logo}}" class="medium-head"></div>
              <div ng-if="!fndDetail.logo"><img ng-src="img/logos/emptyLogo.png" class="medium-head"></div>
            </div>
          </div>
          <div ng-repeat="detail in fndDetailArray" style="margin-bottom:10px;">
            <div ng-if="detail.name != 'logo' && findSchemaName(fndDetail.objectType, detail)">
              <b>{{findSchemaName(fndDetail.objectType, detail)}}</b> <span>{{formatSchemaValue(fndDetail.objectType, detail)}}</span>
            </div>
          </div>
          <!-- div class="row">
            <div class="col-md-12" style="white-space: nowrap;">
              <button ng-if="fieldType == 'nodes'" ng-click="viewDetails(fndDetail.objectType, detail)" type="button" class="btn btn-success" class="click-link">View Details</button> <button ng-click="hideDetails()" type="button" class="btn btn-success" class="click-link">Hide Details</button>
            </div>            
          </div -->

      <div>
        <div class="row">
          <div class="col-md-12">
            <b>Total</b> {{statsInfo.total}}
          </div>
        </div>
        <div class="row" ng-repeat="info in statsInfo.entities">
          <div class="col-md-12">
            <div ng-if="info.propTypes.length > 0"><i ng-click="searchStats(info.nodes)" class="fa fa-search" aria-hidden="true"></i> <b ng-click="info.open = !info.open" class="click-link">{{info.displayName}}</b> {{info.cnt}}</div>
            <div ng-if="info.propTypes.length == 0"><i ng-click="searchStats(info.nodes)" class="fa fa-search" aria-hidden="true"></i> <b>{{info.displayName}}</b> {{info.cnt}}</div>
            <div ng-if="info.open == true">
              <div class="row" ng-repeat="prop in info.propTypes">
                <div class="col-md-12">
                  <div ng-if="prop.propValues.length > 0" style="margin-left:5px"><span ng-click="prop.open = !prop.open" class="hover-link">{{prop.displayName}} - {{prop.cnt}}</span></div>
                  <div ng-if="prop.propValues.length == 0" style="margin-left:5px"><span>{{prop.displayName}} - {{prop.cnt}}</span></div>
                  <div ng-if="prop.open == true">
                    <div class="row" ng-repeat="propVal in prop.propValues">
                      <div class="col-md-12">
                        <div style="margin-left:10px"><i ng-click="searchStats(propVal.nodes)" class="fa fa-search" aria-hidden="true"></i> {{propVal.propVal}} - {{propVal.cnt}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


        </div>
      </div>    
  <!-- /div -->
</div>