<div ng-controller="networkController">

  <div class="row">
    <div class="col-md-4">
      <a ng-click="toggleFilters()"><span ng-if="showFilters()">Hide Filters</span><span ng-if="!showFilters()">Show Filters</span></a>
    </div>
    <div class="col-md-4">
        <div style="float:left;margin-right:10px"><a ng-click="zoomIn()" class="hover-link"><i class="fa fa-search-plus" aria-hidden="true"></i> Zoom In</a></div>
        <div style="float:left;"><a ng-click="zoomOut()" class="hover-link"><i class="fa fa-search-minus" aria-hidden="true"></i> Zoom Out</a></div>
    </div>
    <div class="col-md-4">
        <div style="float:left;margin-right:10px">Stats Mode:</div> 
        <div style="float:left;"><select ng-options="stat as stat.name for stat in statsOptions track by stat.value" ng-model="smode" ng-change="setSMode(smode)"></select></div>
    </div>
  </div>

<div ng-if="showFilters()">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <div ng-repeat="obj in schemas | filter:hasVectorColor()" class="graph-info-vector" style="background-color:{{getColor(obj)}};color:{{getTextColor(obj)}}">
            <span ng-click="toggelSchema(obj)" class="hover-link">{{obj.model.displayName}}</span>
            <div ng-if="obj.selected && hasFilters(obj.model.objectType)" style="margin-top:5px">
              <a ng-click="toggelFilters(obj)" class="hover-link" style="color:{{getTextColor(obj)}};font-size: smaller;"><i class="fa fa-filter" aria-hidden="true"></i> Filter</a>
            </div>      
          </div>
        </div>
        <div class="col-md-6" ng-controller="networkController">
          <div ng-repeat="obj in schemas | filter:hasEdgeColor()" class="graph-info-edge" style="background-color:{{getColor(obj)}};color:{{getTextColor(obj)}}">
            <span ng-click="toggelSchema(obj)" class="hover-link">{{obj.model.displayName}}</span>
            <div ng-if="obj.selected && hasFilters(obj.model.objectType)" style="margin-top:5px">
              <a ng-click="toggelFilters(obj)" class="hover-link" style="color:{{getTextColor(obj)}};font-size: smaller;"><i class="fa fa-filter" aria-hidden="true"></i> Filter</a>
            </div>      
          </div>
        </div>
      </div>
    </div>
  </div>


  <div ng-include="'partials/filters.html'"></div>

</div>

  <!-- div class="network-details" -->
    <div>
      

      <div class="network-canvas-off">
        <div id="spin"></div>
        <div id="mynetwork"></div>
      </div>


    </div>

    <div ng-if="fndDetail" id="node-details">
        <div id="block"></div>
        <div id="text">
          <h3 ng-if="fndDetail.name" style="margin-bottom:0px">{{fndDetail.name}}</h3>
          <h3 ng-if="!fndDetail.name && fndDetailName" style="margin-bottom:0px">{{fndDetailName}}</h3>
          
          <div ng-if="fndDetailArray.length > 4">
            <div class="row">
              <div class="col-md-6">
                <button ng-if="fieldType == 'nodes'" ng-click="viewDetails(fndDetail.objectType, detail)" type="button" class="btn btn-success" class="click-link" style="margin-bottom: 10px;margin-right:5px">View Details</button> 
              </div>
              <div class="col-md-6">
                <button ng-click="hideDetails()" type="button" class="btn btn-success" class="click-link">Hide Details</button>
              </div>
            </div>
          </div>

          <div style="margin-bottom:10px"><i>{{getEntityName(fndDetail.objectType)}}</i></div>

          <div ng-if="fndDetail.logo" style="float:left;margin-left:10px;margin-right:10px">
            <div ng-if="fndDetail.objectType == 'VPerson'">
              <div ng-if="fndDetail.logo"><img ng-src="/www/logos/{{fndDetail.logo}}" class="medium-head"></div>
              <div ng-if="!fndDetail.logo"><img ng-src="img/emptyhead.jpg" class="medium-head"></div>
            </div>
            <div ng-if="fndDetail.objectType == 'VCompany'">
              <div ng-if="fndDetail.logo"><img ng-src="/www/logos/{{fndDetail.logo}}" class="medium-head"></div>
              <div ng-if="!fndDetail.logo"><img ng-src="img/logos/emptyLogo.png" class="medium-head"></div>
            </div>
          </div>
          <div ng-repeat="detail in fndDetailArray" style="margin-bottom:10px;">
            <div ng-if="detail.name != 'logo' && findSchemaName(fndDetail.objectType, detail)">
              <b>{{findSchemaName(fndDetail.objectType, detail)}}</b> <span>{{formatSchemaValue(fndDetail.objectType, detail)}}</span>
            </div>
          </div>
          <div>
            <button ng-if="fieldType == 'nodes'" ng-click="viewDetails(fndDetail.objectType, detail)" type="button" class="btn btn-success" class="click-link" style="margin-bottom: 10px;">View Details</button> <button ng-click="hideDetails()" type="button" class="btn btn-success" class="click-link">Hide Details</button>
          </div>
        </div>
      </div>    
  <!-- /div -->
</div>