<div id="fieldlist" ng-controller="panelFieldsCtrl">
	<div id="fieldFieldSpin"></div>
	<div class="row">
		<div class="col-md-12">
			<div id="fieldSpin{{panelInfo.name}}{{paneRecord.id}}"></div>
			<div class="panel panel-default">
		  <div ng-if="paneRecord.name" class="panel-heading">{{paneRecord.name}} <span ng-if="panelInfo.showId"> - {{paneRecord.id}}</span></div>
		  <div ng-if="!paneRecord.name" class="panel-heading">{{panelInfo.model.displayName}} <span ng-if="panelInfo.showId"> - {{paneRecord.id}}</span></div>
			  <div class="panel-body">

					<div ng-if="mode == 'view' || mode == 'viewDetails'">
						<div ng-repeat="recordInfo in [panelName + '~' + recordItemId + '~' + mode]" ng-include="'partials/panel.fields.view.html'"></div>

				    <div class="margin-bottom">
							<button ng-if="panelInfo.allowEdit" type="button" class="btn garp-btn-orange" ng-click="editRecord(panelInfo.name)">{{util.definedElse('Edit',panelInfo,'editButtonText')}}</button>
							<button ng-if="panelInfo.allowDelete" type="button" class="btn garp-btn-orange" ng-click="deleteRecord(panelInfo.name)">{{util.definedElse('Delete',panelInfo,'deleteButtonText')}}</button>

							<button ng-if="parentController=='panelListCtrl'" type="button" class="btn garp-btn-orange" ng-click="viewRecord(panelInfo.name)">{{util.definedElse('View Details',panelInfo,'viewDetailsButtonText')}}</button>
							<button ng-if="parentController!='panelListCtrl'" type="button" class="btn garp-btn-orange" ng-click="viewList(panelInfo.name)">{{util.definedElse('View List',panelInfo,'viewListButtonText')}}</button>

							<button ng-if="mode == 'viewDetails'" type="button" class="btn garp-btn-orange" ng-click="viewUserDetail(panelInfo.name)">Done</button>

				    </div>

						<div ng-if="mode == 'viewDetails'" class="well">
							<h4>Relationships</h4>
							<div ng-repeat="relationItem in panelInfo.model.relationships" style="margin-top:20px;">
								<div>
									<div style="float:left"><b>{{relationItem.model.displayName}}</b></div> 
									<div style="margin-left:100px" ng-click="addRelationship(relationItem)" class="hover-link"><i class="fa fa-plus-square-o" aria-hidden="
									true"></i>  Add </div>
								</div>
								<div>
									<ul class="list-group">
								  	<li ng-repeat="recordDetail in recordDetails[relationItem.model.objectType].relationships" class="list-group-item" ng-if="showItem(recordDetails[relationItem.model.objectType], $index)">
								  		<span class="badge hover-link" ng-click="deleteEdge(relationItem.model.objectType, _.findWhere(recordDetails[relationItem.model.objectType].details.data, {in: recordDetail['@rid']}), relationItem)">delete</span>
								  		<span class="badge hover-link" ng-click="editEdge(relationItem.model.objectType, _.findWhere(recordDetails[relationItem.model.objectType].details.data, {in: recordDetail['@rid']}), relationItem)">edit</span>
								  		<div>{{recordDetail.name}}</div>

								  		<div ng-if="getEntityName(recordDetail) != 'People'"><i>{{getEntityName(recordDetail)}}</i></div>


								  		<div ng-repeat="prop in util.getObjProperty(models,'objectType',relationItem.model.objectType,'fields')| filter:{showinList : true}">
								  			{{prop.displayName}} - {{util.formatData(prop.controlType, schemas[relationItem.model.objectType][prop.schemaName].type, util.getProperty(_.findWhere(recordDetails[relationItem.model.objectType].details.data, {in: recordDetail['@rid']}), prop.schemaName))}}
								  		</div>
								  	</li>
									</ul>		
									<div ng-if="recordDetails[relationItem.model.objectType].pages > 1">
					          <div class="col-md-12" style="text-align:center">
					          <a ng-click="pageLeft(recordDetails[relationItem.model.objectType])"><i class="fa fa-arrow-circle-left" aria-hidden="true" ng-class="{'nav-disabled' : recordDetails[relationItem.model.objectType].pageNumber==0}"></i></a> 
					          {{recordDetails[relationItem.model.objectType].pageNumber+1}} 
					          <a ng-click="pageRight(recordDetails[relationItem.model.objectType])"><i class="fa fa-arrow-circle-right" aria-hidden="true" ng-class="{'nav-disabled' : recordDetails[relationItem.model.objectType].pageNumber+1==recordDetails[relationItem.model.objectType].pages}"></i></a>
					          </div>
									</div>	
								</div>
							</div>					
						</div>


					</div>
					<div ng-if="mode == 'edit' || mode == 'add'">

						<form name="userForm" class="css-form" ng-submit="saveRecord(this)" novalidate>
							<div ng-repeat="recordInfo in [panelName + '~' + recordItemId + '~' + mode]" ng-include="'partials/panel.fields.edit.html'"></div>
								<!-- button type="button" class="btn garp-btn-orange" ng-click="saveRecord()">Save</button -->
								<button type="submit" class="btn btn-primary">Submit</button>
								<button type="button" class="btn garp-btn-orange" ng-click="cancelRecord()">Cancel</button>
					    <div>
						</form>

					</div>
				</div>
		  </div>
		</div>		
	</div>
</div>				