<div id="fieldlist" ng-controller="panelListCtrl">
	<div id="fieldListSpin"></div>

	<div class="row">
		<div class="col-md-12">
			<div id="fieldListArea">
				<div>
					<div ng-if="panelInfo.allowEdit && recordCount > 3" style="margin-bottom:10px;">
						<button type="button" class="btn garp-btn-orange" ng-click="addRecord(panelInfo.name)">Add</button>
					</div>
					<div class="form-group">
		  			<span class="in-input">Filter</span>
		  			<input class="form-control  form-control-wide" type="text" name="listFilter" id="listFilter" ng-model="listFilter">
		    	</div>						
				</div>
				<ul ng-if="pages.length > 1" class="pagination">
				  <li ng-repeat="page in pages" ng-class="{ 'active' : page.selected}"><a ng-click="gotoPage(page.pageNumber)" class="click-link" >{{page.pageNumber}}</a></li>
				</ul>				
				<div ng-repeat="panelRecordItem in panelInfo.records | filter:listFilter">
					<div ng-repeat="recordInfo in [panelInfo.name + '~' + panelRecordItem.id + '~view']" ng-include="'partials/panel.fields.html'"></div>
				</div>
				<ul class="pagination">
				  <li ng-repeat="page in pages" ng-class="{ 'active' : page.selected}"><a ng-click="gotoPage(page.pageNumber)" class="click-link" >{{page.pageNumber}}</a></li>
				</ul>
				<div ng-if="panelInfo.allowEdit">
					<button type="button" class="btn garp-btn-orange" ng-click="addRecord(panelInfo.name)">{{util.definedElse('Add',panelInfo,'addButtonText')}}</button>
				</div>
			</div>
		</div>
	</div>	
</div>