<div class="container">
	<div id="fieldlist">
		<div id="fieldListSpin"></div>
		<div class="panel panel-default">
		  <div class="panel-heading">{{getObjectName(edgeObjectType)}}</div>
		  <div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<div ng-if="mode == 'view'">
							<div ng-repeat="recordInfo in [panelInfo.name + '~' + panelRecordItem.id + '~' + mode + '~' + edgeObjectType + '~' + edgeRecordItemId + '~' + destObjectType]" ng-include="'partials/panel.fields.view.html'"></div>
						</div>
						<div ng-if="mode == 'edit' || mode == 'add'">
							<div ng-repeat="recordInfo in [panelInfo.name + '~' + panelRecordItem.id + '~' + mode + '~' + edgeObjectType + '~' + edgeRecordItemId + '~' + destObjectType]" ng-include="'partials/panel.fields.edit.html'"></div>
						</div>
					</div>
				</div>	
				<div ng-if="mode == 'edit' || mode == 'add'">
					<div class="row margin-bottom" ng-if="destObjectTypes.length > 0">
						<div class="col-md-12">
				  			<select class="form-control  form-control-wide" name="destObjectType" id="destObjectType" ng-change="selectTargetObjectType(destObjectType)" ng-model="destObjectType" style="background-color: #F0F0F0;">
				  				<option ng-repeat="item in destObjectTypes | orderBy:'name'" value="{{item.name}}">{{getObjectName(item.name)}}</option>
				  			</select>
						</div>
					</div>				

					<div class="row margin-bottom">
						<div class="col-md-12">
							<input class="form-control form-control-wide" placeholder="Search" type="text" name="findTarget" id="findTarget" ng-model="findTarget">
						</div>
					</div>			

					<div ng-if="(mode == 'edit' || mode == 'add') && targets.length > 10" class="row margin-bottom">
						<div class="col-md-12">
					    <div>
								<button type="button" class="btn garp-btn-orange" ng-click="saveEdge()">Save</button>
								<button type="button" class="btn garp-btn-orange" ng-click="cancelEdge()">Cancel</button>
					    </div>		
						</div>
					</div>	

					<div class="row margin-bottom">
						<div class="col-md-12">
							<ul class="list-group">
							  <li ng-repeat="target in targets | filter:findTarget" class="list-group-item click-link" ng-class="{'list-group-item-warning' : target.selected }" ng-click="selectTarget(target)">{{target.name}}</li>
							</ul>						
						</div>
					</div>
				</div>

				<div ng-if="mode == 'edit' || mode == 'add'" class="row margin-bottom">
					<div class="col-md-12">
				    <div>
							<button type="button" class="btn garp-btn-orange" ng-click="saveEdge()">Save</button>
							<button type="button" class="btn garp-btn-orange" ng-click="cancelEdge()">Cancel</button>
				    </div>		
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>