<div ng-controller='panelFieldsViewEditCtrl'>
	<div ng-repeat="panelField in fields | orderBy:'displayOrder'" style="margin-bottom: 10px;">
		<div class="row" ng-if="(parentController!='panelListCtrl' || (parentController=='panelListCtrl' && panelField.showinList))">
			<div class="col-md-12">
				<div><b>{{panelField.displayName}}</b></div>
				<div>{{util.formatData(panelField.controlType, schema[panelField.schemaName].type, paneRecord[panelField.schemaName])}}</div>
			</div>
		</div>
	</div>
</div>
