<div ng-controller='panelFieldsViewEditCtrl'>
	<form id="{{panelInfo.name}}" name="form.fields" class="css-form" novalidate>
		<ng-form name="{{panelInfo.name}}">
	    <div ng-repeat="panelField in fields" style="margin-bottom: 10px;">

	    	<div ng-if="schema[panelField.schemaName].type == 'date'">
	    	</div>

	    	<div ng-if="schema[panelField.schemaName].type == 'string'" class="form-group">
	  			<span class="in-input">{{panelField.displayName}}</span>
	  			<input class="form-control  form-control-wide" type="text" name="{{panelField.schemaName}}" id="{{panelField.schemaName}}" ng-model="paneRecord[panelField.schemaName]" ng-maxLength="{{schema[panelField.schemaName].max}}">
	    	</div>

	    </div>
	  </ng-form>
	</form>
</div>