<div class="row">
	<div class="col-md-12">
		<br>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="alert alert-info" role="alert"> 
			<div><strong ng-click="toggleMode()" class="hover-link">{{objData.name}}</strong></div>
		</div>
	</div>
</div>

<div ng-if="mode.view!='data'">
	<div ng-repeat="recordInfo in [{}]" ng-include="'partials/network.html'"></div>
</div>

<div ng-if="mode.view=='data' && loaded==true" class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-2">
				<button ng-if="!path || !path.src" type="button" ng-click="setPathSrcMode(objData)" class="btn btn-success" class="click-link" style="margin:5px">Set Shortest Path Source</button>
				<button ng-if="path && path.src" type="button" ng-click="setPathDestMode(objData)" class="btn btn-success" class="click-link" style="margin:5px">Set Shortest Path Destination</button>
				<button ng-click="toggleMode()" type="button" class="btn btn-success" class="click-link" style="margin:10px">View Network</button>
			</div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
						  <div class="panel-body">
						    <div class="row">
									<div class="col-md-6 section-header">
										Overview
									</div>
									<div class="col-md-6" style="text-align: right;">
										<a ng-click="update()" class="click-link">UPDATE</a>
									</div>
								</div>
						    <div class="row"><div class="col-md-12">&nbsp;</div></div>
						    <div class="row">
									<div class="col-md-2 data-heading">
										Patent:
									</div>
									<div class="col-md-10">
										{{objData.name}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Applicatant<span ng-if="recDetails.EApplicant.length>0">s</span>:
									</div>
									
									<div class="col-md-10" ng-if="recDetails.EApplicant.length > 5">
										<span ng-repeat="found in recDetails.EApplicant | limitTo:5"><a ng-click="goRoute(found,'in')" class="click-link">{{found['in'].name}}</a><span ng-if="$index != recDetails.EApplicant.length-1">,</span> </span>
										<div><a ng-click="showMore['EApplicant']=true" class="click-link">more...</a></div>
									</div>

									<div class="col-md-10" ng-if="recDetails.EApplicant.length <= 5 || showMore['EApplicant']==true">
										<span ng-repeat="found in recDetails.EApplicant"><a ng-click="goRoute(found,'in')" class="click-link">{{found['in'].name}}</a><span ng-if="$index != recDetails.EApplicant.length-1">,</span> </span>
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

								<div ng-repeat="prop in model.fields | orderBy: displayOrder" ng-if="prop.detailSection == 'details'">
                  <div class="row">
                    <div class="col-md-2 data-heading">
                      {{prop.displayName}}:
                    </div>
                    <div class="col-md-10" ng-bind-html="util.trust(util.formatData(prop.controlType, prop.controlType, objData[prop.schemaName]))">
                    </div>
                  </div>
                  <div class="row"><div class="col-md-12">&nbsp;</div></div>
                </div>

						    <div class="row">
									<div class="col-md-12">
										{{objData.description}}
									</div>
								</div>

						  </div>
						</div>
					</div>
				</div>
				<div class="row"><div class="col-md-12">&nbsp;</div></div>

				<div class="row" ng-if="userSession.rights == 'Full Admin'">
					<div class="col-md-12">
						<div class="panel panel-primary">
						  <div class="panel-body">
						    <div class="row">
									<div class="col-md-6 section-header">
										Scoring
									</div>
									<div class="col-md-6" style="text-align: right;">
									</div>
								</div>
						    <div class="row"><div class="col-md-12">&nbsp;</div></div>

									<div class="row">
										<div class="col-md-2 data-heading">
											Rank / Degree Centrality:
										</div>
										<div class="col-md-10">
											{{objData.statsdegreecentrality}}
										</div>
									</div>
									<div class="row"><div class="col-md-12">&nbsp;</div></div>

							    <div class="row">
										<div class="col-md-2 data-heading">
											Rank / Between Centrality:
										</div>
										<div class="col-md-10">
											{{objData.statsbetweencentrality}}
										</div>
									</div>
									<div class="row"><div class="col-md-12">&nbsp;</div></div>

							    <div class="row">
										<div class="col-md-2 data-heading">
											Prestige Score:
										</div>
										<div class="col-md-10">
											{{objData.prestigescore}}
										</div>
									</div>
									<div class="row"><div class="col-md-12">&nbsp;</div></div>


							    <div class="row">
										<div class="col-md-2 data-heading">
											Data Quaility Score:
										</div>
										<div class="col-md-10">
											{{objData.dataquailityscore}}
										</div>
									</div>
									<div class="row"><div class="col-md-12">&nbsp;</div></div>

						  </div>
					  </div>
				  </div>
			  </div>
				<div class="row"><div class="col-md-12">&nbsp;</div></div>


				<div ng-repeat="recordInfo in [{name: 'Inventors', recordsName: 'EInventor', direction: 'in', otherFields: '', avatar: 'people', route: 'peopleDetail'}]" ng-include="'partials/userDetailsRelated.html'"></div>

				<div ng-repeat="recordInfo in [{name: 'Applicants', recordsName: 'EApplicant', direction: 'in', otherFields: '', avatar: 'fa-building', route: 'organizationDetail'}]" ng-include="'partials/userDetailsRelated.html'"></div>

				<div ng-repeat="recordInfo in [{name: 'R&D Projects', mainObject: 'VProject', recordsName: 'EResult', direction: 'out', nameField: 'name', otherFields: 'startdate', avatar: 'fa-cogs', route: 'projectDetail'}]" ng-include="'partials/userDetailsRelated.html'"></div>

				<div ng-repeat="recordInfo in [{name: 'Media Mentions', mainObject: 'VMedia', recordsName: 'EMediaTarget', direction: 'out', nameField: 'title', 	otherFields: 'type', avatar: 'fa-newspaper-o', route: 'mediaDetail'}]" ng-include="'partials/userDetailsRelated.html'"></div>				

			</div>
		</div>
	</div>
</div>
