<div class="row">
	<div class="col-md-12">
		<br>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="alert alert-info" role="alert"> 
			<div><strong ng-click="toggleMode()" class="hover-link">{{objData.name}}</strong></div>
		</div>
	</div>
</div>

<div ng-if="mode.view!='data'">
	<div ng-repeat="recordInfo in [{}]" ng-include="'partials/network.html'"></div>
</div>

<div ng-if="mode.view=='data' && loaded==true" class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-2">
				<button ng-if="!path || !path.src" type="button" ng-click="setPathSrcMode(objData)" class="btn btn-success" class="click-link" style="margin:5px">Set Shortest Path Source</button>
				<button ng-if="path && path.src" type="button" ng-click="setPathDestMode(objData)" class="btn btn-success" class="click-link" style="margin:5px">Set Shortest Path Destination</button>
				<button ng-click="toggleMode()" type="button" class="btn btn-success" class="click-link" style="margin:10px">View Network</button>
			</div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
						  <div class="panel-body">
						    <div class="row">
									<div class="col-md-6 section-header">
										Overview
									</div>
									<div class="col-md-6" style="text-align: right;">
										<a ng-click="update()" class="click-link">UPDATE</a>
									</div>
								</div>
						    <div class="row"><div class="col-md-12">&nbsp;</div></div>
						    <div class="row">
									<div class="col-md-2 data-heading">
										Patent:
									</div>
									<div class="col-md-10">
										{{objData.name}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Applicatant<span ng-if="recDetails.EApplicant.length>0">s</span>:
									</div>
									
									<div class="col-md-10" ng-if="recDetails.EApplicant.length > 5">
										<span ng-repeat="found in recDetails.EApplicant | limitTo:5"><a ng-click="goRoute(found,'in')" class="click-link">{{found['in'].name}}</a><span ng-if="$index != recDetails.EApplicant.length-1">,</span> </span>
										<div><a ng-click="showMore['EApplicant']=true" class="click-link">more...</a></div>
									</div>

									<div class="col-md-10" ng-if="recDetails.EApplicant.length <= 5 || showMore['EApplicant']==true">
										<span ng-repeat="found in recDetails.EApplicant"><a ng-click="goRoute(found,'in')" class="click-link">{{found['in'].name}}</a><span ng-if="$index != recDetails.EApplicant.length-1">,</span> </span>
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>



						    <div class="row">
									<div class="col-md-2 data-heading">
										Application Date:
									</div>
									<div class="col-md-10">
										{{util.formatDate(objData.applicationdate,"MMM, YYYY")}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Date Granted:
									</div>
									<div class="col-md-10">
										{{util.formatDate(objData.dategranted,"MMM, YYYY")}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										IPC main class:
									</div>
									<div class="col-md-10">
										{{objData.ipc2}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										IPC index class:
									</div>
									<div class="col-md-10">
										{{objData.ipcindex}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Reclasified IPC (MCD):
									</div>
									<div class="col-md-10">
										{{objData.ipcreclasified}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										IPC-Search file:
									</div>
									<div class="col-md-10">
										{{objData.ipcsearch}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										More info:
									</div>
									<div class="col-md-10">
										<a ng-if="objData.website.indexOf('http') == -1" href="http://{{objData.website}}" target="_new">{{objData.website}}</a>
										<a ng-if="objData.website.indexOf('http') > -1" href="{{objData.website}}" target="_new">{{objData.website}}</a>										
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>


						  </div>
						</div>
					</div>
				</div>
				<div class="row"><div class="col-md-12">&nbsp;</div></div>

				<div ng-repeat="recordInfo in [{name: 'Inventors', recordsName: 'EInventor', direction: 'in', otherFields: '', avatar: 'people', route: 'peopleDetail'}]" ng-include="'partials/userDetailsRelated.html'"></div>

				<div ng-repeat="recordInfo in [{name: 'Applicants', recordsName: 'EApplicant', direction: 'in', otherFields: '', avatar: 'fa-building', route: 'organizationDetail'}]" ng-include="'partials/userDetailsRelated.html'"></div>

				<div ng-repeat="recordInfo in [{name: 'R&D Projects', mainObject: 'VProject', recordsName: 'EProjectContributor', direction: 'out', nameField: 'name', otherFields: 'startdate', avatar: 'fa-cogs', route: 'projectDetail'}]" ng-include="'partials/userDetailsRelated.html'"></div>

				<div ng-repeat="recordInfo in [{name: 'Media Mentions', mainObject: 'VMedia', recordsName: 'EMediaTarget', direction: 'out', nameField: 'title', 	otherFields: 'type', avatar: 'fa-newspaper-o', route: 'mediaDetail'}]" ng-include="'partials/userDetailsRelated.html'"></div>				

			</div>
		</div>
	</div>
</div>
