<div class="row">
	<div class="col-md-12">
		<br>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="alert alert-info" role="alert"> 
			<div ng-click="toggleMode()"><strong ng-if="objData.title" class="hover-link">{{objData.title}}</strong> <strong class="hover-link">{{objData.name}}</strong></div>
		</div>
	</div>
</div>

<div ng-if="mode.view!='data'">
	<div ng-repeat="recordInfo in [{}]" ng-include="'partials/network.html'"></div>
</div>

<div ng-if="mode.view=='data' && loaded==true" class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-2">
				<img class="media-object" src="img/emptyhead.jpg" style="width:100px"><br>
				<button ng-if="!path || !path.src" type="button" ng-click="setPathSrcMode(objData)" class="btn btn-success" class="click-link" style="margin:5px">Set Shortest Path Source</button>
				<button ng-if="path && path.src" type="button" ng-click="setPathDestMode(objData)" class="btn btn-success" class="click-link" style="margin:5px">Set Shortest Path Destination</button>
				<button ng-click="toggleMode()" type="button" class="btn btn-success" class="click-link" style="margin:10px">View Network</button>				
				<button ng-click="connectAccount()" type="button" class="btn btn-success" class="click-link" style="margin:10px">This is me!</button>				
			</div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
						  <div class="panel-body">
						    <div class="row">
									<div class="col-md-6 section-header">
										Overview
									</div>
									<div class="col-md-6" style="text-align: right;">
										<a ng-click="update()" class="click-link">UPDATE</a>
									</div>
								</div>
						    <div class="row"><div class="col-md-12">&nbsp;</div></div>
						    <div class="row">
									<div class="col-md-2 data-heading">
										Primary Role:
									</div>
									<div class="col-md-10">
										{{recDetails.EWorksfor[0].role}} @ <a ng-click="goRoute(recDetails.EWorksfor[0],'in')" class="click-link">{{recDetails.EWorksfor[0].in.name}}</a>
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Location:
									</div>
									<div class="col-md-10">
										{{objData.city}}
										<div>{{objData.phone}}<span ng-if="objData.phone && objData.email"> - </span>{{objData.email}}</div>
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Education:
									</div>
									<div class="col-md-10">
										{{objData.education}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Areas of Expertise:
									</div>
									<div class="col-md-10">
										{{util.formatMultiSelect(objData.expertise)}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Publications:
									</div>
									<div class="col-md-10">
										{{objData.publications}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

								<div class="row margin-bottom">
									<div class="col-md-2 data-heading">
										Awards and Certifications:
									</div>
									<div class="col-md-10" ng-bind-html="util.trust(util.formatMultiLine(objData.certsawards, {}))">
									</div>
								</div>

						    <div ng-if="objData.bio" class="row">
									<div class="col-md-12">
										{{objData.bio}}
									</div>
								</div>
								<div ng-if="objData.bio" class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div ng-if="userSession.rights == 'Full Admin'">

							    <div class="row">
										<div class="col-md-2 data-heading">
											<b>Rankings</b>
										</div>
									</div>
									<div class="row"><div class="col-md-12">&nbsp;</div></div>

							    <div class="row">
										<div class="col-md-2 data-heading">
											Rank / Degree Centrality:
										</div>
										<div class="col-md-10">
											{{objData.statsdegreecentrality}}
										</div>
									</div>
									<div class="row"><div class="col-md-12">&nbsp;</div></div>

							    <div class="row">
										<div class="col-md-2 data-heading">
											Rank / Between Centrality:
										</div>
										<div class="col-md-10">
											{{objData.statsbetweencentrality}}
										</div>
									</div>
									<div class="row"><div class="col-md-12">&nbsp;</div></div>

							    <div class="row">
										<div class="col-md-2 data-heading">
											Prestige Score:
										</div>
										<div class="col-md-10">
											{{objData.prestigescore}}
										</div>
									</div>
									<div class="row"><div class="col-md-12">&nbsp;</div></div>


							    <div class="row">
										<div class="col-md-2 data-heading">
											Data Quaility Score:
										</div>
										<div class="col-md-10">
											{{objData.dataquailityscore}}
										</div>
									</div>
									<div class="row"><div class="col-md-12">&nbsp;</div></div>

								</div>

						  </div>
						</div>
					</div>
				</div>
				<div class="row"><div class="col-md-12">&nbsp;</div></div>

				<div ng-repeat="recordInfo in [{name: 'Company Involvement', recordsName: 'EWorksfor', direction: 'in', otherFields: 'role', avatar: 'fa-building', route: 'organizationDetail'}]" ng-include="'partials/userDetailsRelated.html'"></div>

				<div ng-repeat="recordInfo in [{name: 'Patents Invented', recordsName: 'EInventor', direction: 'out', otherFields: '', avatar: 'fa-lightbulb-o', route: 'patentDetail'}]" ng-include="'partials/userDetailsRelated.html'"></div>

				<div ng-repeat="recordInfo in [{name: 'R&D Projects', mainObject: 'VProject', recordsName: 'EProjectContributor', direction: 'out', nameField: 'name', otherFields: 'startdate', avatar: 'fa-cogs', route: 'projectDetail'}]" ng-include="'partials/userDetailsRelated.html'"></div>

				<div ng-repeat="recordInfo in [{name: 'Investments Made', recordsName: 'EInvestor', direction: 'out', fields: [{objectType:'VInvestment', schemaName:'closedate'}, {objectType:'VInvestment', schemaName:'amount'}, {objectType:'VInvestment', schemaName:'type'}], route: 'investmentDetail'}]" ng-include="'partials/userDetailsRelatedTable.html'"></div>

				<div  ng-repeat="recordInfo in [{name: 'Investment Recieved', recordsName: 'EFunded', direction: 'out', fields: [{objectType:'VInvestment', schemaName:'closedate'}, {objectType:'VInvestment', schemaName:'amount'}, {objectType:'VInvestment', schemaName:'type'}], route: 'investmentDetail'}]" ng-include="'partials/userDetailsRelatedTable.html'"></div>

				<div  ng-repeat="recordInfo in [{name: 'Deal Involvement', recordsName: 'EAdvisor', direction: 'out', fields: [{objectType:'EAdvisor', schemaName:'closedate'}, {objectType:'VInvestment', schemaName:'amount'}, {objectType:'VInvestment', schemaName:'type'}], route: 'investmentDetail'}]" ng-include="'partials/userDetailsRelatedTable.html'"></div>
				
				<div ng-repeat="recordInfo in [{name: 'Media Mentions', mainObject: 'VMedia', recordsName: 'EMediaTarget', direction: 'out', nameField: 'title', otherFields: 'date', avatar: 'fa-newspaper-o', route: 'mediaDetail'}]" ng-include="'partials/userDetailsRelated.html'"></div>

			</div>
		</div>
	</div>
</div>
