
<div class="row">
	<div class="col-md-12">
		<br>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="alert alert-info" role="alert"> <strong ng-if="objData.title">{{objData.title}}</strong> <strong>{{objData.name}}</strong> </div>
	</div>
</div>

<div ng-if="mode!='data'" class="row">
	<div class="col-md-12">
		<div class="row">
			<div ng-repeat="obj in schemas" class="graph-info" ng-click="toggelSchema(obj)" style="background-color:{{getColor(obj)}}" ng-if="obj.model.color">
				<span style="color:{{obj.model.fontColor}}">{{obj.model.displayName}}</span>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="row">
			<button ng-click="toggleMode()" type="button" class="btn btn-success" class="click-link">View Data</button>
			<div style="float:right;margin:10px"><a ng-click="zoomIn()" class="click-link"><i class="fa fa-search-plus" aria-hidden="true"></i> Zoom In</a></div>
			<div style="float:right;margin:10px"><a ng-click="zoomOut()" class="click-link"><i class="fa fa-search-minus" aria-hidden="true"></i> Zoom Out</a></div>			
		</div>
	</div>
	<div class="col-md-8">
		<div class="row">
			<div id="mynetwork"></div>
		</div>
	</div>
	<div class="col-md-4">
		<div>
			<h3>{{fndDetail.name}}</h3>
			<div ng-if="fndDetail.logo" style="float:left;margin-left:10px;margin-right:10px">
				<div ng-if="fndDetail.objectType == 'VPerson'">
	      	<div ng-if="fndDetail.logo"><img ng-src="/www/logos/{{fndDetail.logo}}" class="medium-head"></div>
	      	<div ng-if="!fndDetail.logo"><img ng-src="img/emptyhead.jpg" class="medium-head"></div>
	      </div>
				<div ng-if="fndDetail.objectType == 'VCompany'">
	      	<div ng-if="fndDetail.logo"><img ng-src="/www/logos/{{fndDetail.logo}}" class="medium-head"></div>
	      	<div ng-if="!fndDetail.logo"><img ng-src="img/logos/emptyLogo.png" class="medium-head"></div>
	      </div>
	    </div>
      <div ng-repeat="detail in fndDetailArray" style="margin-bottom:10px;">
      	<div ng-if="detail.name != 'logo' && findSchemaName(fndDetail.objectType, detail)">
      		<b>{{findSchemaName(fndDetail.objectType, detail)}}</b> <span>{{detail.value}}</span>
      	</div>
      </div>
      <div>
      	<button ng-click="viewDetails(fndDetail.objectType, detail)" type="button" class="btn btn-success" class="click-link">View Details</button>
      </div>
    </div>
	</div>	
</div>

<div ng-if="mode=='data'" class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-2">
				<img class="media-object" src="img/emptyhead.jpg" style="width:100px"><br>
				<button type="button" class="btn btn-success" style="margin:10px">Add to List</button>
				<button ng-click="toggleMode()" type="button" class="btn btn-success" class="click-link" style="margin:10px">View Network</button>				
			</div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
						  <div class="panel-body">
						    <div class="row">
									<div class="col-md-6 section-header">
										Overview
									</div>
									<div class="col-md-6" style="text-align: right;">
										<a ng-click="update()" class="click-link">UPDATE</a>
									</div>
								</div>
						    <div class="row"><div class="col-md-12">&nbsp;</div></div>
						    <div class="row">
									<div class="col-md-2 data-heading">
										Primary Role:
									</div>
									<div class="col-md-10">
										{{recDetails.EWorksfor[0].role}} @ <a ng-click="util.navigate('companyDetail',{id:recDetails.EWorksfor[0].in.inId})" class="click-link">{{recDetails.EWorksfor[0].in.name}}</a>
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Location:
									</div>
									<div class="col-md-10">
										{{objData.city}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>
						    <div class="row">
									<div class="col-md-2 data-heading">
										Investments:
									</div>
									<div class="col-md-10">
										{{recDetails.EAdvisor.length}} Investments
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Education:
									</div>
									<div class="col-md-10">
										{{objData.education}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Areas of Expertise:
									</div>
									<div class="col-md-10">
										{{util.formatMultiSelect(objData.expertise)}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						  </div>
						</div>
					</div>
				</div>
				<div class="row"><div class="col-md-12">&nbsp;</div></div>

				<div ng-repeat="recordInfo in [{name: 'Investments', recordsName: 'EAdvisor', direction: 'out', fields: [{objectType:'VInvestment', schemaName:'closedate'}, {objectType:'VInvestment', schemaName:'amount'}, {objectType:'VInvestment', schemaName:'type'}], route: 'fundingDetail'}]" ng-include="'partials/userDetailsRelatedTable.html'"></div>

				<div ng-repeat="recordInfo in [{name: 'Jobs', recordsName: 'EWorksfor', direction: 'in', otherFields: 'role', avatar: 'fa-building', route: 'companyDetail'}]" ng-include="'partials/userDetailsRelated.html'"></div>

				<div ng-repeat="recordInfo in [{name: 'Sits on the Board of', recordsName: 'EBoardMember', direction: 'out', otherFields: '', avatar: 'fa-building', route: 'companyDetail'}]" ng-include="'partials/userDetailsRelated.html'"></div>

				<div ng-repeat="recordInfo in [{name: 'Copmpanies Founded', recordsName: 'EFounded', direction: 'out', otherFields: '', avatar: 'fa-building', route: 'companyDetail'}]" ng-include="'partials/userDetailsRelated.html'"></div>

				<div ng-repeat="recordInfo in [{name: 'Patents Invented', recordsName: 'EInventor', direction: 'out', otherFields: '', avatar: 'fa-lightbulb-o', route: 'patentDetail'}]" ng-include="'partials/userDetailsRelated.html'"></div>

			</div>
		</div>
	</div>
</div>
