<div class="row">
	<div class="col-md-12">
		<br>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="alert alert-info" role="alert"> 
			<div><strong ng-click="toggleMode()" class="hover-link">{{objData.name}}</strong></div>
		</div>
	</div>
</div>

<div ng-if="mode.view!='data'">
	<div ng-repeat="recordInfo in [{}]" ng-include="'partials/network.html'"></div>
</div>

<div ng-if="mode.view=='data' && loaded==true" class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-2">
				<button ng-if="!path || !path.src" type="button" ng-click="setPathSrcMode(objData)" class="btn btn-success" class="click-link" style="margin:5px">Set Shortest Path Source</button>
				<button ng-if="path && path.src" type="button" ng-click="setPathDestMode(objData)" class="btn btn-success" class="click-link" style="margin:5px">Set Shortest Path Destination</button>
				<button ng-click="toggleMode()" type="button" class="btn btn-success" class="click-link" style="margin:10px">View Network</button>
			</div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
						  <div class="panel-body">
						    <div class="row">
									<div class="col-md-6 section-header">
										Overview
									</div>
									<div class="col-md-6" style="text-align: right;">
										<a ng-click="update()" class="click-link">UPDATE</a>
									</div>
								</div>
						    <div class="row"><div class="col-md-12">&nbsp;</div></div>

								<div class="row">
									<div class="col-md-2 data-heading">
										Location:
									</div>
									<div class="col-md-10">
										<div>{{objData.city}}<span ng-if="objData.city">,<span> {{objData.country}}</div>
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Start Date:
									</div>
									<div class="col-md-10">
										{{util.formatDate(objData.startdate,"MMM, YYYY")}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										End Date:
									</div>
									<div class="col-md-10">
										{{util.formatDate(objData.enddate,"MMM, YYYY")}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Type:
									</div>
									<div class="col-md-10">
										{{objData.type}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Theme:
									</div>
									<div class="col-md-10">
										{{objData.theme}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Status:
									</div>
									<div class="col-md-10">
										{{objData.status}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Topics:
									</div>
									<div class="col-md-10">
										{{objData.topics}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

								<div class="row">
									<div class="col-md-12">
										{{objData.details}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

								<div class="row">
									<div class="col-md-12">
										<a ng-if="objData.source.indexOf('http') == -1" href="http://{{objData.source}}" target="_new">{{objData.source}}</a>
										<a ng-if="objData.source.indexOf('http') > -1" href="{{objData.source}}" target="_new">{{objData.source}}</a>
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

								<div ng-if="userSession.rights == 'Full Admin'">

							    <div class="row">
										<div class="col-md-2 data-heading">
											Rank / Degree Centrality:
										</div>
										<div class="col-md-10">
											{{objData.statsdegreecentrality}}
										</div>
									</div>
									<div class="row"><div class="col-md-12">&nbsp;</div></div>

							    <div class="row">
										<div class="col-md-2 data-heading">
											Rank / Between Centrality:
										</div>
										<div class="col-md-10">
											{{objData.statsbetweencentrality}}
										</div>
									</div>
									<div class="row"><div class="col-md-12">&nbsp;</div></div>

							    <div class="row">
										<div class="col-md-2 data-heading">
											Prestige Score:
										</div>
										<div class="col-md-10">
											{{objData.prestigescore}}
										</div>
									</div>
									<div class="row"><div class="col-md-12">&nbsp;</div></div>


							    <div class="row">
										<div class="col-md-2 data-heading">
											Data Quaility Score:
										</div>
										<div class="col-md-10">
											{{objData.dataquailityscore}}
										</div>
									</div>
									<div class="row"><div class="col-md-12">&nbsp;</div></div>

								</div>

						  </div>
						</div>
					</div>
				</div>
				<div class="row"><div class="col-md-12">&nbsp;</div></div>

				<div ng-repeat="recordInfo in [{name: 'Participants', showType: true, recordsName: 'EProjectContributor', direction: 'in', otherFields: '', avatar: 'people', route: 'organizationDetail'}]" ng-include="'partials/userDetailsRelated.html'"></div>

				<div ng-repeat="recordInfo in [{name: 'Results', showType: true, recordsName: 'EResult', direction: 'in', otherFields: '', avatar: 'fa-building-o', route: 'organizationDetail'}]" ng-include="'partials/userDetailsRelated.html'"></div>

				<div  ng-repeat="recordInfo in [{name: 'Investment Recieved', recordsName: 'EFunded', direction: 'out', fields: [{objectType:'VInvestment', schemaName:'closedate'}, {objectType:'VInvestment', schemaName:'amount'}, {objectType:'VInvestment', schemaName:'type'}], route: 'investmentDetail'}]" ng-include="'partials/userDetailsRelatedTable.html'"></div>
				
				<div ng-repeat="recordInfo in [{name: 'Media Mentions', mainObject: 'VMedia', recordsName: 'EMediaTarget', direction: 'out', nameField: 'title', otherFields: 'date', avatar: 'fa-newspaper-o', route: 'mediaDetail'}]" ng-include="'partials/userDetailsRelated.html'"></div>

			</div>
		</div>
	</div>
</div>
