<div class="row">
	<div class="col-md-12">
		<br>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="alert alert-info" role="alert"> 
			<div><strong ng-click="toggleMode()" class="hover-link">{{objData.name}}</strong></div>
		</div>
	</div>
</div>

<div ng-if="mode.view!='data'">
	<div ng-repeat="recordInfo in [{}]" ng-include="'partials/network.html'"></div>
</div>

<div ng-if="mode.view=='data' && loaded==true" class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-2">
				<img class="media-object" src="img/logos/logo_home.png" style="width:100px"><br>
				<button ng-if="!path || !path.src" type="button" ng-click="setPathSrcMode(objData)" class="btn btn-success" class="click-link" style="margin:5px">Set Shortest Path Source</button>
				<button ng-if="path && path.src" type="button" ng-click="setPathDestMode(objData)" class="btn btn-success" class="click-link" style="margin:5px">Set Shortest Path Destination</button>
				<button ng-click="toggleMode()" type="button" class="btn btn-success" class="click-link" style="margin:10px">View Network</button>				
			</div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
						  <div class="panel-body">
						    <div class="row">
									<div class="col-md-6 section-header">
										Overview
									</div>
									<div class="col-md-6" style="text-align: right;">
										<a ng-click="update()" class="click-link">UPDATE</a>
									</div>
								</div>
						    <div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Headquarter:
									</div>
									<div class="col-md-10">
										<div>{{objData.city}}<span ng-if="objData.city">,<span> {{objData.country}}</div>
										<div>{{objData.phone}}<span ng-if="objData.phone && objData.email"> - </span>{{objData.email}}</div>
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Website:
									</div>
									<div class="col-md-10">
										<a ng-if="objData.website.indexOf('http') == -1" href="http://{{objData.website}}" target="_new">{{objData.website}}</a>
										<a ng-if="objData.website.indexOf('http') > -1" href="{{objData.website}}" target="_new">{{objData.website}}</a>
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

								<div class="row margin-bottom">
									<div class="col-md-2 data-heading">
									</div>
									<div class="col-md-10" ng-bind-html="util.trust(util.formatMultiLineHeading('certsawards', models.spinoff))">
									</div>
								</div>								
								<div class="row margin-bottom">
									<div class="col-md-2 data-heading">
										Awards and Certifications:
									</div>
									<div class="col-md-10" ng-bind-html="util.trust(util.formatMultiLine(objData.certsawards, {}))">
									</div>
								</div>																

								<div class="row margin-bottom">
									<div class="col-md-2 data-heading">
									</div>
									<div class="col-md-10" ng-bind-html="util.trust(util.formatMultiLineHeading('turnover', models.spinoff))">
									</div>
								</div>		
								<div class="row margin-bottom">
									<div class="col-md-2 data-heading">
										Financial History:
									</div>
									<div class="col-md-10" ng-bind-html="util.trust(util.formatMultiLine(objData.turnover, {col: 1, title: 'Annual Growth', calcMethod: calcGrowthCall}))">
									</div>
								</div>

						    <div ng-if="objData.description" class="row">
									<div class="col-md-12">
										{{objData.description}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						  </div>
						</div>
					</div>
				</div>
				<div class="row"><div class="col-md-12">&nbsp;</div></div>

				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
						  <div class="panel-body">
						    <div class="row">
									<div class="col-md-6 section-header">
										Organiztion Details
									</div>
									<div class="col-md-6" style="text-align: right;">
										<a ng-click="update()" class="click-link">UPDATE</a>
									</div>
								</div>
						    <div class="row"><div class="col-md-12">&nbsp;</div></div>

								<div ng-repeat="prop in model.fields | orderBy: displayOrder" ng-if="prop.detailSection == 'details'">
                  <div class="row">
                    <div class="col-md-2 data-heading">
                      {{prop.displayName}}:
                    </div>
                    <div class="col-md-10" ng-bind-html="util.trust(util.formatData(prop.controlType, prop.controlType, objData[prop.schemaName]))">
                    </div>
                  </div>
                  <div class="row"><div class="col-md-12">&nbsp;</div></div>
                </div>

							</div>
						</div>
					</div>
				</div>
				<div class="row"><div class="col-md-12">&nbsp;</div></div>

				<div class="row" ng-if="userSession.rights == 'Full Admin'">
					<div class="col-md-12">
						<div class="panel panel-primary">
						  <div class="panel-body">
						    <div class="row">
									<div class="col-md-6 section-header">
										Scoring
									</div>
									<div class="col-md-6" style="text-align: right;">
									</div>
								</div>
						    <div class="row"><div class="col-md-12">&nbsp;</div></div>

									<div class="row">
										<div class="col-md-2 data-heading">
											Rank / Degree Centrality:
										</div>
										<div class="col-md-10">
											{{objData.statsdegreecentrality}}
										</div>
									</div>
									<div class="row"><div class="col-md-12">&nbsp;</div></div>

							    <div class="row">
										<div class="col-md-2 data-heading">
											Rank / Between Centrality:
										</div>
										<div class="col-md-10">
											{{objData.statsbetweencentrality}}
										</div>
									</div>
									<div class="row"><div class="col-md-12">&nbsp;</div></div>

							    <div class="row">
										<div class="col-md-2 data-heading">
											Prestige Score:
										</div>
										<div class="col-md-10">
											{{objData.prestigescore}}
										</div>
									</div>
									<div class="row"><div class="col-md-12">&nbsp;</div></div>


							    <div class="row">
										<div class="col-md-2 data-heading">
											Data Quaility Score:
										</div>
										<div class="col-md-10">
											{{objData.dataquailityscore}}
										</div>
									</div>
									<div class="row"><div class="col-md-12">&nbsp;</div></div>

						  </div>
					  </div>
				  </div>
			  </div>
				<div class="row"><div class="col-md-12">&nbsp;</div></div>

				<div ng-repeat="recordInfo in [{name: 'Key People', recordsName: 'EWorksfor', direction: 'out', otherFields: 'role', avatar: 'people', route: 'peopleDetail'}]" ng-include="'partials/userDetailsRelated.html'"></div>

				<div ng-repeat="recordInfo in [{name: 'Companies Spun Off', recordsName: 'ESpinOff', direction: 'in', otherFields: 'department,typeofspinoff,chair', avatar: 'fa-building', route: 'spinOffDetail'}]" ng-include="'partials/userDetailsRelated.html'"></div>				

				<div ng-repeat="recordInfo in [{name: 'Partnerships', showType: true, recordsName: 'EPartner', direction: 'both', otherFields: [{objectType: 'EPartner', schemaName: 'type', direction: null, label:null}], avatar: 'fa-building', route: 'organizationDetail'}]" ng-include="'partials/userDetailsRelated.html'"></div>

				<div ng-repeat="recordInfo in [{name: 'Mergers & Acquisitions', recordsName: 'EAcquirer', direction: 'out', otherFields: [{objectType: 'EAcquirer', schemaName: 'type', direction: null, label:null}], avatar: 'fa-building', route: 'organizationDetail'}]" ng-include="'partials/userDetailsRelated.html'"></div>

				<div ng-repeat="recordInfo in [{name: 'Investments Made', recordsName: 'EInvestor', direction: 'out', fields: [{objectType:'VInvestment', schemaName:'closedate'}, {objectType:'VInvestment', schemaName:'amount'}, {objectType:'VInvestment', schemaName:'type'}], route: 'investmentDetail'}]" ng-include="'partials/userDetailsRelatedTable.html'"></div>

				<div  ng-repeat="recordInfo in [{name: 'Investment Recieved', recordsName: 'EFunded', direction: 'out', fields: [{objectType:'VInvestment', schemaName:'closedate'}, {objectType:'VInvestment', schemaName:'amount'}, {objectType:'VInvestment', schemaName:'type'}], route: 'investmentDetail'}]" ng-include="'partials/userDetailsRelatedTable.html'"></div>
				
				<div ng-repeat="recordInfo in [{name: 'Patents', recordsName: 'EApplicant', direction: 'out', otherFields: [{objectType: 'VPatent', schemaName: 'dategranted', direction: 'out', label:'Granted On:'},{objectType: 'VPatent', schemaName:'ipc2', direction: 'out'}], avatar: 'fa-lightbulb-o', route: 'patentDetail'}]" ng-include="'partials/userDetailsRelated.html'"></div>

				<div ng-repeat="recordInfo in [{name: 'R&D Projects', mainObject: 'VProject', recordsName: 'EProjectContributor', direction: 'out', nameField: 'name', otherFields: 'startdate', avatar: 'fa-cogs', route: 'projectDetail'}]" ng-include="'partials/userDetailsRelated.html'"></div>

				<div ng-repeat="recordInfo in [{name: 'Media Mentions', mainObject: 'VMedia', recordsName: 'EMediaTarget', direction: 'out', nameField: 'title', 	otherFields: 'type', avatar: 'fa-newspaper-o', route: 'mediaDetail'}]" ng-include="'partials/userDetailsRelated.html'"></div>

        <div ng-repeat="recordInfo in [{name: 'Entrepreneurial Resources', showType: false, recordsName: 'EEntrepreneurialResourcesProvider', direction: 'out', otherFields: '', avatar: 'fa-building', route: 'organizationDetail'}]" ng-include="'partials/userDetailsRelated.html'"></div>


			</div>

		</div>
	</div>
</div>
