<div>
	<div class="row">
		<div class="col-md-8">
			&nbsp;
		</div>
	</div>

  <div class="row">
    <div class="col-md-12">
        <span class="hover-link" ng-click="screenStuff.showFilters=!screenStuff.showFilters"><span ng-if="screenStuff.showFilters">Hide Filters</span><span ng-if="!screenStuff.showFilters">Show Filters</span></span> <i ng-if="screenStuff.showFilters" class="fa fa-chevron-down" aria-hidden="true"></i><i ng-if="!screenStuff.showFilters" class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
  </div>

  <div ng-if="screenStuff.showFilters" ng-include="'partials/filters.html'"></div>

	<div class="row">
		<div class="col-md-8">
			<div class="form-group">
				<span class="in-input"><i class="fa fa-search fa-2x" aria-hidden="true"></i> Search</span>
				<input class="form-control form-control-wide" type="text" name="searchText" id="searchText" ng-model="screenStuff.searchText"> 
        <div ng-if="screenStuff.err" style="color:red">{{screenStuff.err}}</div>
	  	</div>
		</div>
  	<div class="col-md-4">
  		<button type="button" class="btn garp-btn-orange" ng-click="search()" style="margin-top:0px">Search</button> 
      <div><input type="checkbox" ng-model="screenStuff.groupResults"> Group Results</div>
  	</div>
	</div>

  <div class="row">
    <div class="col-md-12">
        <span class="hover-link" ng-click="screenStuff.showAdv=!screenStuff.showAdv"><span ng-if="screenStuff.showAdv">Hide Advanced</span><span ng-if="!screenStuff.showAdv">Show Advanced</span></span> <i ng-if="screenStuff.showAdv" class="fa fa-chevron-down" aria-hidden="true"></i><i ng-if="!screenStuff.showAdv" class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
  </div>

  <div ng-if="screenStuff.showAdv" class="row">
    <div class="col-md-8">
      <div class="form-group">
        <span class="in-input">Does not include</span>
        <input class="form-control form-control-wide" type="text" name="notSearchText" id="notSearchText" ng-model="screenStuff.notSearchText"> 
      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>


  <div ng-if="screenStuff.groupResults == false">

    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <div class="row">
            <div class="col-md-4">
              <a ng-click="toggelTableSort('name')" ng-class="{'active-sort' : screenStuff.sortField=='name'}"class="click-link">Name</a><span ng-if="screenStuff.sortField=='name'">  <i ng-if="screenStuff.sortOrder" class="fa fa-chevron-up"></i><i ng-if="!screenStuff.sortOrder" class="fa fa-chevron-down"></i></span>
            </div>
            <div class="col-md-4">
              <a ng-click="toggelTableSort('statsbetweencentrality')" ng-class="{'active-sort' : screenStuff.sortField=='statsbetweencentrality'}"class="click-link">Rank</a><span ng-if="screenStuff.sortField=='statsbetweencentrality'">  <i ng-if="screenStuff.sortOrder" class="fa fa-chevron-up"></i><i ng-if="!screenStuff.sortOrder" class="fa fa-chevron-down"></i></span>
            </div>
            <div class="col-md-4">
              <a ng-click="toggelTableSort('displayName')" ng-class="{'active-sort' : screenStuff.sortField=='displayName'}"class="click-link">Type</a><span ng-if="screenStuff.sortField=='displayName'">  <i ng-if="screenStuff.sortOrder" class="fa fa-chevron-up"></i><i ng-if="!screenStuff.sortOrder" class="fa fa-chevron-down"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-repeat="res in screenStuff.searchResults | orderBy: screenStuff.sortField : screenStuff.sortOrder">
      <div class="col-md-12">
        <div class="well">
          <div class="row">
            <div class="col-md-4">
              <a ng-click="goObj(res)" class="click-link">{{showResults(objRes.objectType, res)}}</a>
            </div>
            <div class="col-md-4">
              {{res.statsdegreecentrality}}
            </div>
            <div class="col-md-4">
              {{res.displayName}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="screenStuff.groupResults == true">  

    Sort: <select ng-model="screenStuff.sortField" ng-change="toggelSort(screenStuff.sortField)">
      <option value="name">Name</option>
      <option value="statsbetweencentrality">Rank</option>
      <option value="displayName">Type</option>
    </select>

    Order: <select ng-model="screenStuff.sortOrderSel" ng-change="toggelSortOrder(screenStuff.sortOrderSel)">
      <option value="Asc">Asc</option>
      <option value="Desc">Desc</option>
    </select>

  	<div class="row" ng-repeat="res in screenStuff.searchResults | orderBy: screenStuff.sortField : screenStuff.sortOrder">
      <div class="col-md-12">
        <div class="well">
          <div><a ng-click="goObj(res)" class="click-link">{{showResults(objRes.objectType, res)}}</a></div>
          <div>{{res.displayName}}</div>
        </div>
      </div>
  	</div>			
  </div>

</div>