
<div class="row">
	<div class="col-md-12">
		<br>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="alert alert-info" role="alert"> <strong>{{objData.name}}</strong> </div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-2">
				<img class="media-object" src="img/logos/logo_home.png" style="width:100px"><br>
				<button type="button" class="btn btn-success">Add to List</button>
			</div>
			<div class="col-md-10">

				<div class="row">
					<div class="col-md-12">

						<div class="panel panel-primary">
						  <div class="panel-body">
						    <div class="row">
									<div class="col-md-6 section-header">
										Overview
									</div>
									<div class="col-md-6" style="text-align: right;">
										<a ng-click="update()">UPDATE</a>
									</div>
								</div>
						    <div class="row"><div class="col-md-12">&nbsp;</div></div>
						    <div class="row">
									<div class="col-md-2 data-heading">
										Year Founded:
									</div>
									<div class="col-md-10">
										{{objData.yearfounded}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Location:
									</div>
									<div class="col-md-10">
										{{objData.city}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Size:
									</div>
									<div class="col-md-10">
										{{objData.size}} students enrolled
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Type:
									</div>
									<div class="col-md-10">
										{{objData.type}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Programs:
									</div>
									<div class="col-md-10">
										{{objData.programs}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Website:
									</div>
									<div class="col-md-10">
										<a ng-if="objData.website.indexOf('http') == -1" href="http://{{objData.website}}" target="_new">{{objData.website}}</a>
										<a ng-if="objData.website.indexOf('http') > -1" href="{{objData.website}}" target="_new">{{objData.website}}</a>
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>
								<div class="row">
									<div class="col-md-12">
										{{objData.description}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>
								<div class="row">
									<div class="col-md-4"></div>
									<div class="col-md-1"><img class="media-object" src="img/logos/linkedin.png" style="width:25px"></div>
									<div class="col-md-1"><img class="media-object" src="img/logos/facebook.png" style="width:25px"></div>
									<div class="col-md-1"><img class="media-object" src="img/logos/twitter.png" style="width:25px"></div>
									<div class="col-md-1"><img class="media-object" src="img/logos/googleplus.jpg" style="width:25px"></div>
									<div class="col-md-4"></div>
						  </div>
							<div class="row"><div class="col-md-12">&nbsp;</div></div>
						</div>
					</div>
				</div>
				<div class="row"><div class="col-md-12">&nbsp;</div></div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary">
					  <div class="panel-body">
					    <div class="row">
								<div class="col-md-6 section-header">
									Companies Spun Off
								</div>
								<div class="col-md-6" style="text-align: right;">
									<a ng-click="update()">UPDATE</a>
								</div>
							</div>
					    <div class="row" ng-repeat="board in recDetails.ESpinOff">
					    	<div ng-if="$index % 2 == 0">
									<div class="col-md-6" style="margin-bottom:10px;margin-top:10px;height: 50px;">
										<div style="float:left"><i class="fa fa-building fa-2x" aria-hidden="true" style="padding:5px;"></i></div>
										<div style="margin-top: 10px;">
											<span><a ng-click="util.navigate('companyDetail',{id:recDetails.ESpinOff[$index].in.inId})" class="click-link">{{recDetails.ESpinOff[$index].in.name}}</a></span>
										</div>
									</div>
									<div class="col-md-6" style="margin-bottom:10px;margin-top:10px;height: 50px;">
										<div style="float:left"><i class="fa fa-building fa-2x" aria-hidden="true" style="padding:5px;"></i></div>
										<div style="margin-top: 10px;">
											<span><a ng-click="util.navigate('companyDetail',{id:recDetails.ESpinOff[$index+1].in.inId})" class="click-link">{{recDetails.ESpinOff[$index+1].in.name}}</a></span>
										</div>
									</div>
								</div>
							</div>
							<div class="row"><div class="col-md-12">&nbsp;</div></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row"><div class="col-md-12">&nbsp;</div></div>

		</div>
	</div>
</div>
