
<div class="row">
	<div class="col-md-12">
		<br>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="alert alert-info" role="alert"> <strong>{{objData.name}}</strong> </div>
	</div>
</div>

<div ng-if="mode!='data'" class="row">
	<div class="col-md-12">
		<div class="row">
			<div ng-repeat="obj in schemas" class="graph-info" ng-click="toggelSchema(obj)" style="background-color:{{getColor(obj)}}" ng-if="obj.model.color">
				<span style="color:{{obj.model.fontColor}}">{{obj.model.displayName}}</span>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="row">
			<button ng-click="toggleMode()" type="button" class="btn btn-success" class="click-link">View Data</button>
			<div style="float:right;margin:10px"><a ng-click="zoomIn()" class="click-link"><i class="fa fa-search-plus" aria-hidden="true"></i> Zoom In</a></div>
			<div style="float:right;margin:10px"><a ng-click="zoomOut()" class="click-link"><i class="fa fa-search-minus" aria-hidden="true"></i> Zoom Out</a></div>			
		</div>
	</div>
	<div class="col-md-8">
		<div class="row">
			<div id="mynetwork"></div>
		</div>
	</div>
	<div class="col-md-4">
		<div ng-if="fndDetail">
			<h3>{{fndDetail.name}}</h3>
			<div ng-if="fndDetail.logo" style="float:left;margin-left:10px;margin-right:10px">
				<div ng-if="fndDetail.objectType == 'VPerson'">
	      	<div ng-if="fndDetail.logo"><img ng-src="/www/logos/{{fndDetail.logo}}" class="medium-head"></div>
	      	<div ng-if="!fndDetail.logo"><img ng-src="img/emptyhead.jpg" class="medium-head"></div>
	      </div>
				<div ng-if="fndDetail.objectType == 'VCompany'">
	      	<div ng-if="fndDetail.logo"><img ng-src="/www/logos/{{fndDetail.logo}}" class="medium-head"></div>
	      	<div ng-if="!fndDetail.logo"><img ng-src="img/logos/emptyLogo.png" class="medium-head"></div>
	      </div>
	    </div>
      <div ng-repeat="detail in fndDetailArray" style="margin-bottom:10px;">
      	<div ng-if="detail.name != 'logo' && findSchemaName(fndDetail.objectType, detail)">
      		<b>{{findSchemaName(fndDetail.objectType, detail)}}</b> <span>{{util.subString(detail.value,100)}}</span>
      	</div>
      </div>
      <div>
      	<button ng-click="viewDetails(fndDetail.objectType, detail)" type="button" class="btn btn-success" class="click-link">View Details</button>
      </div>
    </div>
	</div>	
</div>

<div ng-if="mode=='data'" class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-2">
				<img class="media-object" src="img/logos/logo_home.png" style="width:100px"><br>
				<button type="button" class="btn btn-success" style="margin:10px">Add to List</button>
				<button ng-click="toggleMode()" type="button" class="btn btn-success" class="click-link" style="margin:10px">View Network</button>				
			</div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
						  <div class="panel-body">
						    <div class="row">
									<div class="col-md-6 section-header">
										Overview
									</div>
									<div class="col-md-6" style="text-align: right;">
										<a ng-click="update()" class="click-link">UPDATE</a>
									</div>
								</div>
						    <div class="row"><div class="col-md-12">&nbsp;</div></div>
						    <div class="row">
									<div class="col-md-2 data-heading">
										Year Founded:
									</div>
									<div class="col-md-10">
										{{objData.yearfounded}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Location:
									</div>
									<div class="col-md-10">
										{{objData.city}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Size:
									</div>
									<div class="col-md-10">
										{{objData.size}} students enrolled
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Type:
									</div>
									<div class="col-md-10">
										{{objData.type}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Programs:
									</div>
									<div class="col-md-10">
										{{objData.programs}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>

						    <div class="row">
									<div class="col-md-2 data-heading">
										Website:
									</div>
									<div class="col-md-10">
										<a ng-if="objData.website.indexOf('http') == -1" href="http://{{objData.website}}" target="_new">{{objData.website}}</a>
										<a ng-if="objData.website.indexOf('http') > -1" href="{{objData.website}}" target="_new">{{objData.website}}</a>
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>
								<div class="row">
									<div class="col-md-12">
										{{objData.description}}
									</div>
								</div>
								<div class="row"><div class="col-md-12">&nbsp;</div></div>
								<div class="row">
									<div class="col-md-4"></div>
									<div class="col-md-1"><img class="media-object" src="img/logos/linkedin.png" style="width:25px"></div>
									<div class="col-md-1"><img class="media-object" src="img/logos/facebook.png" style="width:25px"></div>
									<div class="col-md-1"><img class="media-object" src="img/logos/twitter.png" style="width:25px"></div>
									<div class="col-md-1"><img class="media-object" src="img/logos/googleplus.jpg" style="width:25px"></div>
									<div class="col-md-4"></div>
						  </div>
							<div class="row"><div class="col-md-12">&nbsp;</div></div>
						</div>
					</div>
				</div>
				<div class="row"><div class="col-md-12">&nbsp;</div></div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary">
					  <div class="panel-body">
					    <div class="row">
								<div class="col-md-6 section-header">
									Companies Spun Off
								</div>
								<div class="col-md-6" style="text-align: right;">
									<a ng-click="update()" class="click-link">UPDATE</a>
								</div>
							</div>
					    <div class="row" ng-repeat="board in recDetails.ESpinOff">
					    	<div ng-if="$index % 2 == 0">
									<div class="col-md-6" style="margin-bottom:10px;margin-top:10px;height: 50px;">
										<div style="float:left;height:80px;"><i class="fa fa-building fa-2x" aria-hidden="true" style="padding:5px;"></i></div>
										<div>
											<div><a ng-click="util.navigate('companyDetail',{id:recDetails.ESpinOff[$index].in.inId})" class="click-link">{{recDetails.ESpinOff[$index].in.name}}</a></div>
											<div ng-if="recDetails.ESpinOff[$index].department">{{recDetails.ESpinOff[$index].department}}</div>
											<div ng-if="recDetails.ESpinOff[$index].typeofspinoff">{{recDetails.ESpinOff[$index].typeofspinoff}}</div>
										</div>
									</div>
									<div class="col-md-6" style="margin-bottom:10px;margin-top:10px;height: 50px;">
										<div ng-if="recDetails.ESpinOff[$index+1]" style="float:left;height:80px;"><i class="fa fa-building fa-2x" aria-hidden="true" style="padding:5px;"></i></div>
										<div ng-if="recDetails.ESpinOff[$index+1]">
											<div><a ng-click="util.navigate('companyDetail',{id:recDetails.ESpinOff[$index+1].in.inId})" class="click-link">{{recDetails.ESpinOff[$index+1].in.name}}</a></div>
											<div ng-if="recDetails.ESpinOff[$index+1].department">{{recDetails.ESpinOff[$index].department}}</div>
											<div ng-if="recDetails.ESpinOff[$index+1].typeofspinoff">{{recDetails.ESpinOff[$index].typeofspinoff}}</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row"><div class="col-md-12">&nbsp;</div></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row"><div class="col-md-12">&nbsp;</div></div>

		</div>
	</div>
</div>
