<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12">
					<h3>Import/Export</h3>
				</div>
			</div>

			<form  ng-controller="uploadController as up" name="up.upload_form">

				<div class="row">
					<div class="col-md-12">
						Action: 
						<select name='mode' ng-model='formData.mode'>
							<option value='add'>Add</option>
							<option value='update'>Update</option>
							<option value='delete'>Delete</option>
							<option value='export'>Export</option>
						</select>
					</div>
				</div>						
				<div class="row">
					<div class="col-md-12">
  					<br>
  				</div>
  			</div>    			

				<div class="row">
					<div class="col-md-12">
						Is Relatioship?<br>
						<input type="radio" name="gender" value="1" ng-model='formData.isEdge'>Yes<br>
						<input type="radio" name="gender" value="0" ng-model='formData.isEdge'>No<br>
					</div>
				</div>						
				<div class="row">
					<div class="col-md-12">
  					<br>
  				</div>
  			</div>    			

				<div ng-if="formData.mode=='export' || formData.isEdge != 1" class="row">
					<div class="col-md-12">
						Object Type: 
						<select  ng-if="formData.isEdge == 0" ng-options="item as item.name for item in arrObjects track by item.value" ng-model="formData.objectType" ng-change="selectObjectType()"></select>
						<select  ng-if="formData.isEdge == 1" ng-options="item as item.name for item in arrRelObjects track by item.value" ng-model="formData.objectType" ng-change="selectObjectType()"></select>
					</div>
				</div>						
        <div ng-if="formData.mode=='add' && formData.isEdge == 1" class="row">
          <div class="col-md-12">
            *Note: Each row must have an Edge Type in the edgetype column of the data.
          </div>
        </div>

				<div class="row">
					<div class="col-md-12">
  					<br>
  				</div>
  			</div>    			


				<div class="row" ng-if="formData.mode=='update' || formData.mode=='delete'">
					<div ng-if="formData.isEdge==false" class="col-md-12">
						Identify Object By: 
						<select ng-options="item as item.displayName for item in idFields track by item.schemaName" ng-model="formData.idObjField"></select>
					</div>
					<div ng-if="formData.isEdge==true" class="col-md-12">
						Identify Object By: TargetId and SourceID in data
					</div>
				</div>						
				<div class="row" ng-if="formData.mode=='update' || formData.mode=='delete'">
					<div class="col-md-12">
  					<br>
  				</div>
  			</div>    			

				<!-- div class="row" ng-if="formData.isEdge == 1 && formData.mode == 'add'">
					<div class="col-md-12">
						<br><b>For Relationships</b><br>
						Source Object Type: 
						<select ng-options="item as item.name for item in sourceObjects track by item.value" ng-model="formData.sourceObjectType"></select><br>
						Target Object Type: 
						<select ng-options="item as item.name for item in targetObjects track by item.value" ng-model="formData.targetObjectType"></select>
					</div>
				</div>						
				<div class="row">
					<div class="col-md-12">
  					<br>
  				</div>
  			</div -->    			

				<div class="row" ng-if="formData.mode == 'export'">
					<div class="col-md-12">
						Add Criteria: <select ng-options="item as item.displayName for item in idFields track by item.schemaName" ng-model="exportCriteria.field"></select><br>
						<select name='operator' ng-model='exportCriteria.operator'>
							<option value='equals'>Equals</option>
							<option value='greater'>Greater Than</option>
							<option value='less'>Less Than</option>
							<option value='contains'>Contains</option>
							<option value='notequal'>Not Equal</option>
							<option value='notcontain'>Does Not Contain</option>
						</select>
						<input type="text" name="value" ng-model="exportCriteria.value">
						<button type="button" class="btn btn-primary" ng-click="addCriteria()">Add Criteria</button>
					</div>
				</div>
				<div class="row" ng-if="formData.mode == 'export'">
					<div class="col-md-12">
						Criteria:
					</div>
				</div>
				<div class="row" ng-if="formData.mode == 'export'">
					<div class="col-md-12">
            <ul class="list-group">
              <li ng-repeat="criteria in criterias" class="list-group-item">
                <span class="badge" ng-click="deleteCriteria(criteria)" class="click-link">delete</span>
						    {{criteria.field}} {{criteria.operator}} {{criteria.value}}
              </lu>
            </ul>
					</div>
				</div>
				<div class="row" ng-if="formData.mode == 'export'">
					<div class="col-md-12">
						<br>
					</div>
				</div>

				<div ng-if="formData.mode != 'export'" class="row">
					<div class="col-md-12">
						Select your CSV File.
						<input type="file" ngf-select ng-model="up.file" name="file" ngf-max-size="20MB"/>
						<i ng-show="up.upload_form.file.$error.required">*required</i><br>
						<i ng-show="up.upload_form.file.$error.maxSize">File too large 
							{{up.file.size / 1000000|number:1}}MB: max 20M</i>
	           <!--  Multiple files
	            <div class="button" ngf-select ng-model="up.files" ngf-multiple="true">Select</div>
	            Drop files: <div ngf-drop ng-model="up.files" class="drop-box">Drop</div> -->
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<button type="submit" ng-click="up.submit()" class="btn btn-primary">Submit</button>
            <p>{{up.progress}}</p>
					</div>
				</DIV>				

      </form>

    </div>
    <div class="col-md-6">
    	
			<div class="row">
				<div class="col-md-12">
					<h3>Batch Jobs</h3>
				</div>
			</div>
			<div class="row" ng-repeat="job in jobs | orderBy : '-sortDate'">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
    					Mode: {{job.mode}}
    				</div>
    			</div>
					<div class="row">
						<div class="col-md-12">
    					File: {{job.file}}
    				</div>
    			</div>
					<div class="row">
						<div class="col-md-12">
    					Date/Time: {{job.startdatetime}}
    				</div>
    			</div>
					<div class="row">
						<div class="col-md-12">
    					<a ng-click="getDetails(job)" class="click-link">See Details</a> <a ng-click="deleteDetails(job)">Delete Details</a>
    				</div>
    			</div>    			
          <div ng-if="jobDetails.file!=job.file" class="row">
            <div class="col-md-12">
              <br>
            </div>
          </div>

					<div ng-if="jobDetails.file==job.file" class="row">
						<div class="col-md-12">

              <div ng-if="jobDetails">
                <div class="row">
                  <div class="col-md-12">
                    <h3>Log Details - {{jobDetails.file}}</h3>
                  </div>
                </div>
              </div>
              <div class="row" ng-repeat="log in logDetails">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-12">
                      {{log.info}}
                    </div>
                  </div>
                </div>
              </div>
    					
    				</div>
    			</div>    			
    		</div>
    	</div>

    </div>
  </div>
</div>
