<div class="row">
	<div class="col-md-12">
		<div style="float:left;width:20px;height:60px;background-color: #9d9d9d;margin-top:20px;margin-bottom:20px	"></div>
		<div style="height:60px;background-color: white">
			<div style="margin-left:40px;">
				<h3 style="line-height: 55px;">People</h3>
			</div>
		</div>
	</div>
</div>

<div ng-include="'partials/userPaging.html'"></div>

<div class="row grid-header">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3 row-space-bottom">
            <b>Name</b>
          </div>
          <div class="col-md-3 row-space-bottom">
            <b>Location</b>
          </div>
          <div class="col-md-3 row-space-bottom">
            <b>Primary Job</b>
          </div>
          <div class="col-md-3">
            <b>Description</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-repeat="obj in gridInfo.rawData">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3 row-space-bottom">
            <div ng-if="obj.logo">
              <img class="media-object small-logo-newline" ng-src="/www/logos/{{obj.logo}}">
            </div>
            <a ng-click="goDetail('peopleDetail',obj.id)" class="click-link">{{obj.name}}</a>
          </div>
          <div class="col-md-3 row-space-bottom">
            <div class="grid-row-header">Location</div>
            <div>{{obj.city}}<span ng-if="obj.country">, {{obj.country}}</span></div>
          </div>
          <div class="col-md-3 row-space-bottom">
            <div class="grid-row-header">Primary Job</div>
            <div>{{obj.role[0]}}</div>
          </div>
          <div class="col-md-3">
            <div class="grid-row-header">Primary Organiztion</div>
            <div>{{obj.organization[0]}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-include="'partials/userPaging.html'"></div>