<div class="row">
	<div class="col-md-12">
		<div style="float:left;width:20px;height:60px;background-color: #9d9d9d;margin-top:20px;margin-bottom:20px	"></div>
		<div style="height:60px;background-color: white">
			<div style="margin-left:40px;">
				<h3 style="line-height: 55px;">Investors</h3>
			</div>
		</div>
	</div>
</div>

<div ng-include="'partials/userPaging.html'"></div>

<div class="row grid-header">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3 row-space-bottom">
            <b>Title</b>
          </div>
          <div class="col-md-3 row-space-bottom">
            <b>Event Type</b>
          </div>
          <div class="col-md-3 row-space-bottom">
            <b>Date</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-repeat="obj in gridInfo.rawData">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3 row-space-bottom">
            <div ng-if="obj.logo">
              <img class="media-object small-logo-newline" ng-src="/www/logos/{{obj.logo}}">
            </div>
            <a ng-click="goDetail('mediaDetail',obj.id)" class="click-link">{{obj.title}}</a>
          </div>
          <div class="col-md-3 row-space-bottom">
            <div class="grid-row-header">Event Type</div>
             <div>{{obj.eventtype}}</div>
          </div>
          <div class="col-md-3">
            <div class="grid-row-header">Date</div>
            <div>{{util.formatDate(obj.date,"MMM, YYYY")}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-include="'partials/userPaging.html'"></div>