<html ng-app="soiApp">
	<head>
		<link href="lib/fontawsome/css/font-awesome.min.css" rel="stylesheet"/>
		<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="css/soiapp.css" rel="stylesheet"/>
		<link href="lib/ui-grid/ui-grid.min.css" rel="stylesheet"/>
		
		<script src="lib/jquery-3.1.1.min.js"></script>
		<script src="lib/moment.min.js"></script>
		<script src="lib/underscore-min.js"></script>
		<script src="lib/bootstrap/js/bootstrap.min.js"></script>
		<script src="lib/async.min.js"></script>
		
		<script src="lib/angular/angular.min.js"></script>
		<script src="lib/angular/angular-sanitize.min.js"></script>		

		<script src="lib/angular/angular-ui-router.min.js"></script>
		<script src="lib/bootstrap/js/ui-bootstrap-tpls-2.2.0.min.js"></script>
		<script src="lib/ui-grid/ui-grid.min.js"></script>
		<script src="lib/sprintf.min.js"></script>
		<script src="lib/spin.min.js"></script>

	  <script type="text/javascript" src="lib/vis/vis.js"></script>
  	<link href="lib/vis/vis-network.min.css" rel="stylesheet" type="text/css" />


		<!-- ui-select files -->
		<script src="lib/ui-select/select.js"></script>
		<link href="lib/ui-select/select.css" rel="stylesheet"/>

		<script src="lib/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.min.js"></script>
		<link href="lib/angular-bootstrap-colorpicker/css/colorpicker.css" rel="stylesheet"/>
	

		<script src="js/app.js"></script>
		<script src="js/services.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/controllers/nav.js"></script>
		<script src="js/controllers/adminNav.js"></script>
		<script src="js/controllers/organizations.js"></script>
		<script src="js/controllers/spinoffs.js"></script>
		<script src="js/controllers/userOrganizations.js"></script>
		<script src="js/controllers/userSpinOffs.js"></script>
		<script src="js/controllers/userPeople.js"></script>
		<script src="js/controllers/userResearchInstitutions.js"></script>
		<script src="js/controllers/userNews.js"></script>
		<script src="js/controllers/useruserInvestments.js"></script>
		<script src="js/controllers/userInvestmentFirms.js"></script>
		<script src="js/controllers/media.js"></script>
		<script src="js/controllers/researchInstitution.js"></script>
		<script src="js/controllers/people.js"></script>
		<script src="js/controllers/patent.js"></script>
		<script src="js/controllers/investment.js"></script>
		<script src="js/controllers/investmentfirms.js"></script>
		<!-- script src="js/controllers/acquisition.js"></script -->
		<script src="js/controllers/objectDetail.js"></script>

		<script src="js/controllers/panelFields.js"></script>		
		<script src="js/controllers/edgeItem.js"></script>		
		<script src="js/controllers/upload.js"></script>		
		<script src="js/controllers/uploadImage.js"></script>		

		<script src="js/services/utilities.js"></script>
		<script src="js/services/models.js"></script>
		<script src="js/services/panelField.js"></script>
		<script src="js/services/remoteData.js"></script>

		<script type="text/javascript" src="lib/fileUpload/ng-file-upload.min.js"></script>
		<script type="text/javascript" src="lib/fileUpload/ng-file-upload-shim.min.js"></script>


	</head>
	<body ng-controller="mainCtrl">
		<div ng-if="admin">
			<div ng-include="'partials/adminNav.html'"></div>
			<div ui-view></div>
		</div>
		<div ng-if="!admin">
			<div ng-include="'partials/nav.html' "class="navbar navbar-inverse navbar-fixed-left"></div>
			<div class="container">
			 <div class="row">
			 	<div class="col-md-12">

					<div ui-view></div>

			  </div>
			 </div>
			</div>
		</div>
	</body>
</html>